@import "../../../node_modules/sass-true/sass/_true.scss";
@import "../../../scss/base/mixins";

@include describe('border-shadow [function]') {
  @include it('Returns the result of multiplication') {
    @include assert {
      @include output {
        $primary-color: #ff0000;
        @include border-shadow($primary-color, 0.5);
      }

      @include expect {
        box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0.5);
      }
    }
  }

  @include report;

}
