/*
 Kimera 0.2.2 | MIT License | github.com/JorgeAntrax/kimera
 Autor: Leonardo Quintana
 pseudo name: Leito Winchester Grimes Salvatore

 date created: 01/06/2017

 This project have a license MIT,
 and is Open Source

 Contact: spicer_94@hotmail.com or jantraxhernandez@gmail.com

 Thanks for using my framework CSS. 
*/
/* 
	@params
	--  @import 'name_new-file-base';
*/
/*stilos para input range de color*/
@keyframes zoom-in { from { transform-origin: center center;
    transform: scale(0); }
  to { transform-origin: center center;
    transform: scale(1); } }

.zoom-in { animation-delay: 5s; animation: zoom-in 0.2s; }

@keyframes zoom-out { from { transform-origin: center center;
    transform: scale(1); }
  to { transform-origin: center center;
    transform: scale(0); } }

.zoom-out { animation: zoom-out 0.3s; }

@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }

* ::-webkit-scrollbar { background-color: rgba(68, 68, 68, 0.05); width: 0.3125rem; height: 0.3125rem; }

* ::-moz-scrollbar { background-color: rgba(68, 68, 68, 0.05); width: 0.3125rem; height: 0.3125rem; }

@media screen and (max-width: 480px) { * ::-webkit-scrollbar { display: none; } }

@media screen and (max-width: 480px) { * ::-moz-scrollbar { display: none; } }

* ::-webkit-scrollbar-thumb { background-color: rgba(68, 68, 68, 0.1); border-radius: 1rem; cursor: pointer; transition: all .2s ease-out; }

* ::-webkit-scrollbar-thumb:hover, * ::-webkit-scrollbar-thumb:active { background-color: rgba(68, 68, 68, 0.25); }

* ::-moz-scrollbar-thumb { background-color: rgba(68, 68, 68, 0.1); border-radius: 1rem; cursor: pointer; transition: all .2s ease-out; }

* ::-moz-scrollbar-thumb:hover, * ::-moz-scrollbar-thumb:active { background-color: rgba(68, 68, 68, 0.25); }

* ::-webkit-scrollbar-track { display: none; }

.is-flex { display: flex; position: relative; flex-wrap: wrap; }

group { display: flex; flex-direction: column; }

group[is-mobile] { flex-wrap: nowrap; }

group[addons] { display: inline-flex; }

group[addons] > *:not(:first-child), group[addons] > *:not(:last-child) { border-radius: 0; margin: 0 -1px; }

group[addons] > :first-child { border-radius: 0.25rem 0 0 0.25rem; margin-left: 0; }

group[addons] > :last-child { border-radius: 0 0.25rem 0.25rem 0; margin-right: 0; }

group[addons][is-rounded] > :first-child { border-radius: 1000em 0 0 1000em; margin-left: 0; }

group[addons][is-rounded] > :last-child { border-radius: 0 1000em 1000em 0; margin-right: 0; }

@media screen and (min-width: 480px) { group { flex-flow: row wrap; }
  group[is-mobile] { flex-wrap: nowrap; } }

.is-wrapped { flex-wrap: wrap; }

.has-fixed, .has-fixed-tl, .has-fixed-tr, .has-fixed-bl, .has-fixed-br, .navbar.has-fixed--down { position: fixed !important; }

.has-fixed-tl, .has-fixed-tr { top: 1rem; }

.has-fixed-bl, .has-fixed-br { bottom: 1rem; }

.has-fixed-tl, .has-fixed-bl { left: 1rem; }

.has-fixed-tr, .has-fixed-br { right: 1rem; }

.container { max-width: 1000px; width: 100%; padding: .5rem; }

[clearfix]:before, [clearfix]:after { content: " "; display: table; }

[clearfix]:after { clear: both; }

.bordered *[class] { margin: .05rem; }

[type~='box'] { display: inline-flex; flex-direction: column; padding: 0.75rem !important; }

[type~='box'] > * { line-height: 1.5; height: 1.5rem; }

[radius~='circle'], [radius~='medium'], [radius~='large'] { overflow: hidden !important; }

[radius~='circle'] { border-radius: 50000em !important; }

[radius~='medium'] { border-radius: .5rem !important; }

[radius~='large'] { border-radius: .8rem !important; }

[radius~='not'], [radius~='not-all'] > * { border-radius: 0 !important; }

[text~="small"] { font-size: 0.875rem; }

[text~="medium"] { font-size: 1.25rem; }

[text~="large"] { font-size: 1.45rem; }

[text~='x-large'] { font-size: 1.65rem; }

[text~="upper"] { text-transform: uppercase; }

[text~="lower"] { text-transform: lowercase; }

[text~="underline"] { text-decoration: underline; }

.button[size], .input[size], [size].input--transparent { line-height: 1.5; }

.button[size~='small'], .input[size~='small'], [size~='small'].input--transparent { font-size: 0.875rem; line-height: 1.4; }

.button[size~='medium'], .input[size~='medium'], [size~='medium'].input--transparent { font-size: 1.25rem; }

.button[size~='large'], .input[size~='large'], [size~='large'].input--transparent { font-size: 1.45rem; }

[text~="primary"] { color: #28CBFF; }

[text~="info"] { color: #2366d1; }

[text~="success"] { color: #23d160; }

[text~="warning"] { color: #ffce0a; }

[text~="danger"] { color: #FF004F; }

[text~="right"] > *, [text~="right"] { text-align: right; }

[text~="justify"] > *, [text~="justify"] { text-align: justify; }

[text~="content-center"] > *, [text~="content-center"] { text-align: center; }

[layout~="padding-05"] { padding: 0.5rem; }

[layout~="padding-1"] { padding: 1rem; }

[layout~="padding-2"] { padding: 2rem; }

[layout~="padding-3"] { padding: 3rem; }

[layout~="padding-v-05"] { padding: 0.5rem 0; }

[layout~="padding-v-1"] { padding: 1rem 0; }

[layout~="padding-v-2"] { padding: 2rem 0; }

[layout~="padding-v-3"] { padding: 3rem 0; }

[layout~="padding-h-05"] { padding: 0 0.5rem; }

[layout~="padding-h-1"] { padding: 0 1rem; }

[layout~="padding-h-2"] { padding: 0 2rem; }

[layout~="padding-h-3"] { padding: 0 3rem; }

.is-full { flex: 100%; }

[layout~='full-screen'] { width: 100vw; height: 100vh; overflow-y: auto; }

[layout~='full-width'] { width: 100vw; overflow-x: hidden; }

[layout~='full-height'] { width: 100vh; overflow-y: auto; }

[since-touch~='center'], [since-touch~='center-v'], [since-touch~='center-h'], [since-touch~='right'], [since-touch~='bottom'], [since-touch~='top'], [since-touch~='left'], [since-touch~='separated'], [since-touch~='distributed'], [since-tablet~='center'], [since-tablet~='center-v'], [since-tablet~='center-h'], [since-tablet~='right'], [since-tablet~='bottom'], [since-tablet~='top'], [since-tablet~='left'], [since-tablet~='separated'], [since-tablet~='distributed'], [since-desktop~='center'], [since-desktop~='center-v'], [since-desktop~='center-h'], [since-desktop~='right'], [since-desktop~='bottom'], [since-desktop~='top'], [since-desktop~='left'], [since-desktop~='separated'], [since-desktop~='distributed'], [since-widescreen~='center'], [since-widescreen~='center-v'], [since-widescreen~='center-h'], [since-widescreen~='right'], [since-widescreen~='bottom'], [since-widescreen~='top'], [since-widescreen~='left'], [since-widescreen~='separated'], [since-widescreen~='distributed'], [layout~='center'], [layout~='center-v'], [layout~='center-h'], [layout~='right'], [layout~='top'], [layout~='left'], [layout~='bottom'] { display: flex; }

[layout~='center'] { align-items: center; justify-content: center; }

[layout~='center-v'] { align-items: center; }

[layout~='center-h'] { justify-content: center; }

[layout~='top'] { align-items: flex-start; }

[layout~='left'] { justify-content: flex-start; }

[layout~='bottom'] { align-items: flex-end; }

[layout~='right'] { justify-content: flex-end; }

[layout~='separated'] { justify-content: space-between; }

[layout~='distributed'] { justify-content: space-around; }

[layout~='level-1'] { z-index: 100; }

[layout~='level-2'] { z-index: 200; }

[layout~='level-3'] { z-index: 300; }

[layout~='level-4'] { z-index: 400; }

[layout~='level-5'] { z-index: 500; }

@media screen and (min-width: 480px) { [since-touch~='hidden'] { display: none; }
  [since-touch~='center'] { align-items: center; justify-content: center; }
  [since-touch~='center-v'] { align-items: center; }
  [since-touch~='center-h'] { justify-content: center; }
  [since-touch~='right'] { justify-content: flex-end; }
  [since-touch~='bottom'] { align-items: flex-end; }
  [since-touch~='top'] { align-items: flex-start; }
  [since-touch~='left'] { justify-content: flex-start; }
  [since-touch~='distributed'] { justify-content: space-around; }
  [since-touch~='separated'] { justify-content: space-between; } }

@media screen and (min-width: 768px) { [since-tablet~='hidden'] { display: none; }
  [since-tablet~='center'] { align-items: center; justify-content: center; }
  [since-tablet~='center-v'] { align-items: center; }
  [since-tablet~='center-h'] { justify-content: center; }
  [since-tablet~='right'] { justify-content: flex-end; }
  [since-tablet~='bottom'] { align-items: flex-end; }
  [since-tablet~='top'] { align-items: flex-start; }
  [since-tablet~='left'] { justify-content: flex-start; }
  [since-tablet~='distributed'] { justify-content: space-around; }
  [since-tablet~='separated'] { justify-content: space-between; } }

@media screen and (min-width: 1024px) { [since-desktop~='hidden'] { display: none; }
  [since-desktop~='center'] { align-items: center; justify-content: center; }
  [since-desktop~='center-v'] { align-items: center; }
  [since-desktop~='center-h'] { justify-content: center; }
  [since-desktop~='right'] { justify-content: flex-end; }
  [since-desktop~='bottom'] { align-items: flex-end; }
  [since-desktop~='top'] { align-items: flex-start; }
  [since-desktop~='left'] { justify-content: flex-start; }
  [since-desktop~='distributed'] { justify-content: space-around; }
  [since-desktop~='separated'] { justify-content: space-between; } }

@media screen and (min-width: 1300px) { [since-widescreen~='hidden'] { display: none; }
  [since-widescreen~='center'] { align-items: center; justify-content: center; }
  [since-widescreen~='center-v'] { align-items: center; }
  [since-widescreen~='center-h'] { justify-content: center; }
  [since-widescreen~='right'] { justify-content: flex-end; }
  [since-widescreen~='bottom'] { align-items: flex-end; }
  [since-widescreen~='top'] { align-items: flex-start; }
  [since-widescreen~='left'] { justify-content: flex-start; }
  [since-widescreen~='distributed'] { justify-content: space-around; }
  [since-widescreen~='separated'] { justify-content: space-between; } }

@media screen and (max-width: 480px) { [until-touch~='hidden'] { display: none; } }

@media screen and (max-width: 768px) { [until-tablet~='hidden'] { display: none; } }

@media screen and (max-width: 1024px) { [until-desktop~='hidden'] { display: none; } }

[hidden] { display: none; }

.is-text-dark, .is-light, .is-white { color: #444; }

.is-text-cloud { color: #ffffff; }

.is-light { background-color: whitesmoke; }

.is-white { background-color: #ffffff; }

*[theme~="dark"] { background-color: #444; color: #ffffff; }

*[theme~="dark"][theme~='invert'], *[theme~="dark"][theme~='outline'], *[theme~="dark"][theme~='invert-outline']:hover { background-color: #ffffff; color: #444; }

*[theme~="dark"][theme~='outline'] { border: 1px solid #444; }

*[theme~="dark"].button[theme~='outline']:hover { background-color: #444; color: #ffffff; }

*[theme~="primary"] { background-color: #28CBFF; color: #ffffff; }

*[theme~="primary"][theme~='invert'], *[theme~="primary"][theme~='outline'], *[theme~="primary"][theme~='invert-outline']:hover { background-color: #ffffff; color: #28CBFF; }

*[theme~="primary"][theme~='outline'] { border: 1px solid #28CBFF; }

*[theme~="primary"].button[theme~='outline']:hover { background-color: #28CBFF; color: #ffffff; }

*[theme~="info"] { background-color: #2366d1; color: #ffffff; }

*[theme~="info"][theme~='invert'], *[theme~="info"][theme~='outline'], *[theme~="info"][theme~='invert-outline']:hover { background-color: #ffffff; color: #2366d1; }

*[theme~="info"][theme~='outline'] { border: 1px solid #2366d1; }

*[theme~="info"].button[theme~='outline']:hover { background-color: #2366d1; color: #ffffff; }

*[theme~="success"] { background-color: #23d160; color: #ffffff; }

*[theme~="success"][theme~='invert'], *[theme~="success"][theme~='outline'], *[theme~="success"][theme~='invert-outline']:hover { background-color: #ffffff; color: #23d160; }

*[theme~="success"][theme~='outline'] { border: 1px solid #23d160; }

*[theme~="success"].button[theme~='outline']:hover { background-color: #23d160; color: #ffffff; }

*[theme~="warning"] { background-color: #FFd83d; color: #444; }

*[theme~="warning"][theme~='invert'], *[theme~="warning"][theme~='outline'], *[theme~="warning"][theme~='invert-outline']:hover { background-color: #ffffff; color: #d6ab00; }

*[theme~="warning"][theme~='outline'] { border: 1px solid #FFd83d; }

*[theme~="warning"].button[theme~='outline']:hover { background-color: #FFd83d; color: #444; }

*[theme~="danger"] { background-color: #FF004F; color: #ffffff; }

*[theme~="danger"][theme~='invert'], *[theme~="danger"][theme~='outline'], *[theme~="danger"][theme~='invert-outline']:hover { background-color: #ffffff; color: #FF004F; }

*[theme~="danger"][theme~='outline'] { border: 1px solid #FF004F; }

*[theme~="danger"].button[theme~='outline']:hover { background-color: #FF004F; color: #ffffff; }

*[theme~="indigo"] { background-color: #57007F; color: #ffffff; }

*[theme~="indigo"][theme~='invert'], *[theme~="indigo"][theme~='outline'], *[theme~="indigo"][theme~='invert-outline']:hover { background-color: #ffffff; color: #57007F; }

*[theme~="indigo"][theme~='outline'] { border: 1px solid #57007F; }

*[theme~="indigo"].button[theme~='outline']:hover { background-color: #57007F; color: #ffffff; }

/* 
	@params
	--  @import 'name_new-file-base';
*/
*, ::before, ::after { box-sizing: inherit; }

* { letter-spacing: 0.05rem; padding: 0; margin: 0; }

body, li, p, code, kbd, pre, a, button, select, input, label { line-height: 1.5rem; }

button, input, select, textarea { font-size: 16px; }

body, input, button, span, label, b, strong, samp, p { font-family: sans-serif, sans-serif; }

a { text-decoration: none; color: #28CBFF; cursor: pointer; word-break: break-word; }

a:not(.button):hover { color: #444; }

article, aside, footer, header, nav, section, figcaption, figure, main, menu, details { display: block; }

hr { background-color: #000; height: 1px; margin: 0.3125rem 0; max-width: 100%; outline: none; opacity: 0.2; border: 0; }

abbr[title] { border-bottom: none; text-decoration: underline; }

b, strong { font-weight: inherit; font-weight: bold; margin-right: 0.4375rem; margin-left: 0.4375rem; }

dfn { font-style: italic; }

mark { background-color: #FFd83d; color: #444; }

audio, video, progress, canvas { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

iframe { border: 0; }

img, embed, object, audio, video { max-width: 100%; }

img { width: 100%; height: auto; border-style: none; }

svg:not(:root) { overflow: hidden; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: none; border: none; padding: 0; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ white-space: normal; /* 1 */ }

textarea { overflow-y: auto; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

summary { display: list-item; }

template { display: none; }

[disabled], .is-disabled { pointer-events: none; opacity: .7; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; line-height: normal; font-weight: bold; color: inherit; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 70%; font-weight: bold; }

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.3em; }

h5 { font-size: 0.9em; }

h6 { font-size: 0.8em; }

ol, ul { margin-left: 1rem; }

table { border-collapse: collapse; border-spacing: 0; }

table td, table th { padding: 0; text-align: left; }

html { font-size: 16px; box-sizing: border-box; min-width: 18.75rem; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; text-size-adjust: 100%; }

html ::selection { background: #28CBFF; color: #ffffff; }

body { color: #444; font-size: 1rem; max-width: 100vw; min-height: 100vh; overflow-x: hidden; background-color: #fff; }

p { display: block; margin: 0.25rem 0; padding: 0; text-align: justify; font-size: 1rem; }

p p { margin: 0; display: inline-block; }

blockquote, cite, address { display: block; }

/*estilos para blockquote cite y address*/
blockquote { position: relative; max-width: 100%; margin-left: auto; margin-right: auto; padding: 2rem .5rem .5rem; border-left: 0.25rem solid rgba(68, 68, 68, 0.3); background-color: rgba(68, 68, 68, 0.1); font-style: italic; }

blockquote:before { content: '\f10d'; opacity: .75; font-family: "FontAwesome"; position: absolute; top: .5rem; left: .5rem; }

small, pre, code, kbd, cite, address { font-size: 0.875rem; font-weight: normal; }

/**Etiqueta small*/
small, cite { opacity: 0.75; }

cite::before { content: ' \2014\2009'; }

pre { overflow: auto; }

code, kbd, pre, code *, kbd *, pre * { -webkit-font-smoothing: auto; font-family: monospace; }

code, kbd { background-color: whitesmoke; color: #e60047; padding: 0.1875rem 0.5rem; margin-left: 0.1875rem; margin-right: 0.1875rem; border-radius: .15rem; word-break: break-word; }

/*estilos para entrada por teclado*/
kbd { color: #000; }

/*estilos de sup y sub indice*/
sup, sub { font-size: 0.75rem; padding: 0.125rem; }

layout { display: flex; flex-wrap: wrap; max-width: 100vw; min-height: 100vh; overflow-x: hidden; }

layout > header, layout > navbar, layout > sidebar, layout > main, layout > footer { width: 100%; }

layout footer[is-sticky] { align-self: flex-end; }

layout[is-dashboard] { overflow: hidden; flex-wrap: nowrap; }

layout[is-dashboard] > main, layout[is-dashboard] > sidebar { height: 100vh; overflow-x: hidden; overflow-y: auto; }

@media screen and (min-width: 768px) { layout > sidebar { width: 25%; }
  layout > main { width: auto; flex-grow: 4; } }

/*clases flexbox fila y columna*/
row { display: flex; flex: auto; flex-flow: column nowrap; }

row[is-multiline] { flex-wrap: wrap; }

row[is-mobile] { flex-flow: row nowrap; }

row[inverted] { flex-direction: row-reverse; }

column { display: block; flex-grow: 1; }

[is-block] { width: 100%; }

@media screen and (min-width: 480px) { .touch-1 { width: 5%; flex-grow: 0; flex-shrink: 0; }
  .touch-2 { width: 10%; flex-grow: 0; flex-shrink: 0; }
  .touch-3 { width: 15%; flex-grow: 0; flex-shrink: 0; }
  .touch-4 { width: 20%; flex-grow: 0; flex-shrink: 0; }
  .touch-5 { width: 25%; flex-grow: 0; flex-shrink: 0; }
  .touch-6 { width: 30%; flex-grow: 0; flex-shrink: 0; }
  .touch-7 { width: 35%; flex-grow: 0; flex-shrink: 0; }
  .touch-8 { width: 40%; flex-grow: 0; flex-shrink: 0; }
  .touch-9 { width: 45%; flex-grow: 0; flex-shrink: 0; }
  .touch-10 { width: 50%; flex-grow: 0; flex-shrink: 0; }
  .touch-11 { width: 55%; flex-grow: 0; flex-shrink: 0; }
  .touch-12 { width: 60%; flex-grow: 0; flex-shrink: 0; }
  .touch-13 { width: 65%; flex-grow: 0; flex-shrink: 0; }
  .touch-14 { width: 70%; flex-grow: 0; flex-shrink: 0; }
  .touch-15 { width: 75%; flex-grow: 0; flex-shrink: 0; }
  .touch-16 { width: 80%; flex-grow: 0; flex-shrink: 0; }
  .touch-17 { width: 85%; flex-grow: 0; flex-shrink: 0; }
  .touch-18 { width: 90%; flex-grow: 0; flex-shrink: 0; } }

@media screen and (min-width: 768px) { row { flex-direction: row; }
  .tablet-1 { width: 5%; flex-grow: 0; flex-shrink: 0; }
  .tablet-2 { width: 10%; flex-grow: 0; flex-shrink: 0; }
  .tablet-3 { width: 15%; flex-grow: 0; flex-shrink: 0; }
  .tablet-4 { width: 20%; flex-grow: 0; flex-shrink: 0; }
  .tablet-5 { width: 25%; flex-grow: 0; flex-shrink: 0; }
  .tablet-6 { width: 30%; flex-grow: 0; flex-shrink: 0; }
  .tablet-7 { width: 35%; flex-grow: 0; flex-shrink: 0; }
  .tablet-8 { width: 40%; flex-grow: 0; flex-shrink: 0; }
  .tablet-9 { width: 45%; flex-grow: 0; flex-shrink: 0; }
  .tablet-10 { width: 50%; flex-grow: 0; flex-shrink: 0; }
  .tablet-11 { width: 55%; flex-grow: 0; flex-shrink: 0; }
  .tablet-12 { width: 60%; flex-grow: 0; flex-shrink: 0; }
  .tablet-13 { width: 65%; flex-grow: 0; flex-shrink: 0; }
  .tablet-14 { width: 70%; flex-grow: 0; flex-shrink: 0; }
  .tablet-15 { width: 75%; flex-grow: 0; flex-shrink: 0; }
  .tablet-16 { width: 80%; flex-grow: 0; flex-shrink: 0; }
  .tablet-17 { width: 85%; flex-grow: 0; flex-shrink: 0; }
  .tablet-18 { width: 90%; flex-grow: 0; flex-shrink: 0; } }

@media screen and (min-width: 1024px) { .desktop-1 { width: 5%; flex-grow: 0; flex-shrink: 0; }
  .desktop-2 { width: 10%; flex-grow: 0; flex-shrink: 0; }
  .desktop-3 { width: 15%; flex-grow: 0; flex-shrink: 0; }
  .desktop-4 { width: 20%; flex-grow: 0; flex-shrink: 0; }
  .desktop-5 { width: 25%; flex-grow: 0; flex-shrink: 0; }
  .desktop-6 { width: 30%; flex-grow: 0; flex-shrink: 0; }
  .desktop-7 { width: 35%; flex-grow: 0; flex-shrink: 0; }
  .desktop-8 { width: 40%; flex-grow: 0; flex-shrink: 0; }
  .desktop-9 { width: 45%; flex-grow: 0; flex-shrink: 0; }
  .desktop-10 { width: 50%; flex-grow: 0; flex-shrink: 0; }
  .desktop-11 { width: 55%; flex-grow: 0; flex-shrink: 0; }
  .desktop-12 { width: 60%; flex-grow: 0; flex-shrink: 0; }
  .desktop-13 { width: 65%; flex-grow: 0; flex-shrink: 0; }
  .desktop-14 { width: 70%; flex-grow: 0; flex-shrink: 0; }
  .desktop-15 { width: 75%; flex-grow: 0; flex-shrink: 0; }
  .desktop-16 { width: 80%; flex-grow: 0; flex-shrink: 0; }
  .desktop-17 { width: 85%; flex-grow: 0; flex-shrink: 0; }
  .desktop-18 { width: 90%; flex-grow: 0; flex-shrink: 0; } }

@media screen and (min-width: 1300px) { .widescreen-1 { width: 5%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-2 { width: 10%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-3 { width: 15%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-4 { width: 20%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-5 { width: 25%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-6 { width: 30%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-7 { width: 35%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-8 { width: 40%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-9 { width: 45%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-10 { width: 50%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-11 { width: 55%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-12 { width: 60%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-13 { width: 65%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-14 { width: 70%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-15 { width: 75%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-16 { width: 80%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-17 { width: 85%; flex-grow: 0; flex-shrink: 0; }
  .widescreen-18 { width: 90%; flex-grow: 0; flex-shrink: 0; } }

/* 
	@params
	--  @import 'name_new-file-component';
*/
icon { display: inline-flex; align-items: center; justify-content: center; width: 16px; height: 16px; }

icon[size] { margin: 0; padding: 0; }

icon[size~='normal'] { font-size: 16px; width: 16px; height: 16px; }

icon[size~='small'] { font-size: 0.875rem; width: 0.875rem; height: 0.875rem; }

icon[size~='medium'] { font-size: 1.25rem; width: 1.25rem; height: 1.25rem; }

icon[size~='large'] { font-size: 1.45rem; width: 1.45rem; height: 1.45rem; }

icon[size~='jumbo'] { font-size: 1.65rem; width: 1.65rem; height: 1.65rem; }

icon[is-left] { margin-right: .5em; }

icon[is-right] { margin-left: .5em; }

.burger-icon, .burger-icon--cloud, .ellipsis-icon, .ellipsis-icon--cloud { display: flex; flex-direction: column; justify-content: space-between; width: 1.5rem; height: 1.25rem; }

.burger-icon > *, .burger-icon--cloud > *, .ellipsis-icon > *, .ellipsis-icon--cloud > * { background-color: #444; height: 1px; }

.burger-icon--cloud > * { background-color: #ffffff; }

.ellipsis-icon, .ellipsis-icon--cloud { align-items: center; }

.ellipsis-icon > *, .ellipsis-icon--cloud > * { width: 4px; height: 4px; border-radius: 5em; }

.ellipsis-icon--cloud > span { background-color: #ffffff; }

.button { display: inline-flex; align-items: center; position: relative; flex-shrink: 0; flex-grow: 0; outline: none; border: none; cursor: pointer; overflow: hidden; border-radius: .2rem; padding: 0.3em 0.75em; white-space: nowrap; }

.button:not([theme]) { background-color: #f0f0f0; color: #444; border: 1px solid rgba(68, 68, 68, 0.1); }

.button[is-block] { justify-content: center; }

.button[disabled] { border: none; opacity: .65; }

.button[type~='icon'] { padding: 0.55em; }

.button:hover { box-shadow: inset 0 0 100px 1px rgba(0, 0, 0, 0.05); }

.button:active, .button:focus { box-shadow: inset 0 0 100px 1px rgba(0, 0, 0, 0.1); }

.button:focus { font-weight: bold; }

[theme~='invert-outline'] { background-color: transparent; border: 1px solid #ffffff; color: #ffffff; }

group[type='FAB'] { display: inline-flex; position: relative; align-items: center; justify-content: center; }

group[type='FAB'] ul { z-index: 10; display: none; list-style: none; flex-direction: column; }

group[type='FAB'] ul > * { margin: .25rem 0; }

group[type='FAB'] ul[is-left], group[type='FAB'] ul[is-right] { flex-direction: row; }

group[type='FAB'] ul[is-left] > *, group[type='FAB'] ul[is-right] > * { margin: 0 .25rem; }

group[type='FAB'] [fab-toggle] { margin: .5rem !important; transform-origin: center center; }

group[type='FAB'] [fab-toggle]:focus * { transition: all .4s ease-out; transform: rotate(90deg); }

group[type='FAB'] ul.active { display: flex; will-change: scale; position: absolute; z-index: 700; }

group[type='FAB'] ul.active[is-left] { right: 100%; }

group[type='FAB'] ul.active[is-right] { left: 90%; }

group[type='FAB'] ul.active[is-up] { bottom: 100%; }

group[type='FAB'] ul.active[is-down] { top: 100%; }

group[type='FAB'] ul.active[is-up], group[type='FAB'] ul.active[is-down] { left: -50%; transform: translateX(48%); }

group[type='FAB'] ul.active > * { animation: zoom-in .2s; }

.button[type~='floating'] { z-index: 40; height: auto; padding: 1rem; margin: 0.3125rem; position: relative; border-radius: 100%; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1); }

.button[type~='floating'][size~='small'] { padding: 0.7rem; }

.button[type~='floating'][size~='medium'] { padding: 1.3rem; }

.button[type~='floating'][size~='large'] { padding: 1.6rem; }

.button[type~='floating']:hover { box-shadow: 0 6px 15px -1px rgba(0, 0, 0, 0.2); }

.checkbox, .radio { display: none; }

.checkbox ~ label, .radio ~ label { position: relative; background-color: transparent; display: inline-block; width: 1rem; height: 1rem; border: 1px solid #444; border-radius: .2rem; cursor: pointer; transition: all .2s ease-out; }

.checkbox ~ label.text, .radio ~ label.text { margin: 0 .5rem; width: auto; border: 0; }

.checkbox:checked ~ label, .radio:checked ~ label { border-radius: .2rem; background-color: #444; }

.checkbox:checked ~ label.outline, .radio:checked ~ label.outline { background-color: #444; box-shadow: inset 0 0 0 2px #ffffff; }

.checkbox:checked ~ label.text, .radio:checked ~ label.text { background-color: transparent; }

.radio ~ label, .radio:checked ~ label, .radio:checked ~ label.outline { border-radius: 100%; }

.checkbox ~ label.is-primary, .radio ~ label.is-primary { border: 1px solid #28CBFF; }

.checkbox:checked ~ label.is-primary, .radio:checked ~ label.is-primary { border-color: #28CBFF; background-color: #28CBFF; }

.checkbox:checked ~ label.is-primary.outline, .radio:checked ~ label.is-primary.outline { box-shadow: inset 0 0 0 2px #ffffff; }

.checkbox ~ label.is-info, .radio ~ label.is-info { border: 1px solid #2366d1; }

.checkbox:checked ~ label.is-info, .radio:checked ~ label.is-info { border-color: #2366d1; background-color: #2366d1; }

.checkbox:checked ~ label.is-info.outline, .radio:checked ~ label.is-info.outline { box-shadow: inset 0 0 0 2px #ffffff; }

.checkbox ~ label.is-success, .radio ~ label.is-success { border: 1px solid #23d160; }

.checkbox:checked ~ label.is-success, .radio:checked ~ label.is-success { border-color: #23d160; background-color: #23d160; }

.checkbox:checked ~ label.is-success.outline, .radio:checked ~ label.is-success.outline { box-shadow: inset 0 0 0 2px #ffffff; }

.checkbox ~ label.is-warning, .radio ~ label.is-warning { border: 1px solid #FFd83d; }

.checkbox:checked ~ label.is-warning, .radio:checked ~ label.is-warning { border-color: #FFd83d; background-color: #FFd83d; }

.checkbox:checked ~ label.is-warning.outline, .radio:checked ~ label.is-warning.outline { box-shadow: inset 0 0 0 2px #ffffff; }

.checkbox ~ label.is-danger, .radio ~ label.is-danger { border: 1px solid #FF004F; }

.checkbox:checked ~ label.is-danger, .radio:checked ~ label.is-danger { border-color: #FF004F; background-color: #FF004F; }

.checkbox:checked ~ label.is-danger.outline, .radio:checked ~ label.is-danger.outline { box-shadow: inset 0 0 0 2px #ffffff; }

.dropdown, .dropdown--icon { display: inline-flex; position: relative; }

.dropdown .button:first-of-type, .dropdown--icon .button:first-of-type { border-radius: .2rem 0 0 .2rem; }

.dropdown .button:last-of-type, .dropdown--icon .button:last-of-type { border-radius: 0 .2rem .2rem 0; }

.dropdown--icon .button:first-of-type { border-radius: .2rem; }

.dropdown--icon .button:last-of-type { border-radius: 25rem; }

.dropdown_menu, .dropdown_menu-up, .dropdown_menu-down { z-index: 2000; position: absolute; display: none; min-width: 8em; list-style: none; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 5px 10px -1px rgba(68, 68, 68, 0.3); border-radius: .2rem; }

.dropdown_menu-up { bottom: 1.5rem; }

.dropdown_menu-down { top: 1.5rem; }

.dropdown_menu.left, .left.dropdown_menu-up, .left.dropdown_menu-down { left: 0; }

.dropdown_menu.right, .right.dropdown_menu-up, .right.dropdown_menu-down { right: 0; }

.dropdown_menu-item { margin: 2px 0; width: 100%; font-size: 0.875rem; padding: .2rem .5rem; cursor: pointer; }

.dropdown_menu-item.is-title { color: #aaa; font-size: 0.75rem; padding: .25rem .5rem; pointer-events: none; text-transform: uppercase; }

.dropdown_menu-item:hover { background-color: rgba(0, 0, 0, 0.05); }

.dropdown_toggle:focus ~ .dropdown_menu, .dropdown_toggle:focus ~ .dropdown_menu-up, .dropdown_toggle:focus ~ .dropdown_menu-down { display: flex; flex-direction: column; }

.dropdown_toggle:focus { box-shadow: inset 0 0 30rem 1px rgba(0, 0, 0, 0.15); }

.input, .input--transparent, .input--transparent.is-invert { display: block; position: relative; outline: 0; padding: .3em .5em; background-color: #fafafa; border: 1px solid transparent; border-radius: .2rem; width: 100%; transition: all .2s; color: #444; }

.input--transparent, .input--transparent.is-invert { border: none; background-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.7); }

.is-invert.input--transparent { background-color: rgba(0, 0, 0, 0.2); }

.input--transparent:focus { background-color: #ffffff; color: #444; }

.input:focus, .input--transparent:focus { box-shadow: inset 0 2px 8px -2px rgba(0, 0, 0, 0.05); }

.input.is-primary:focus, .is-primary.input--transparent:focus { border-color: rgba(40, 203, 255, 0.7); }

.input.is-info:focus, .is-info.input--transparent:focus { border-color: rgba(35, 102, 209, 0.7); }

.input.is-success:focus, .is-success.input--transparent:focus { border-color: rgba(35, 209, 96, 0.7); }

.input.is-warning:focus, .is-warning.input--transparent:focus { border-color: rgba(255, 216, 61, 0.7); }

.input.is-danger:focus, .is-danger.input--transparent:focus { border-color: rgba(255, 0, 79, 0.7); }

.field { display: inline-flex; align-items: stretch; position: relative; overflow: hidden; border-radius: .2rem; }

.field *[class] { border-radius: 0; }

.field .field-icon { display: flex; align-items: center; justify-content: center; width: 3em; }

.field.has-two-icons input, .field.has-two-icons input:focus { border: none; border-radius: 0; }

.range { display: block; margin: 1.5rem auto; width: 95%; height: 2px; background-color: rgba(68, 68, 68, 0.5); position: relative; }

.range:before { content: ''; position: absolute; width: 1.25rem; height: 1.25rem; top: 50%; left: 0; transform: translateY(-50%); border-radius: 100%; background-color: #444; cursor: pointer; transition: all .2s ease-out; }

.range:hover::before { box-shadow: 0 0 5px 1px rgba(68, 68, 68, 0.2); width: 1.4rem; height: 1.4rem; left: -.15rem; }

.range.is-primary { background-color: rgba(40, 203, 255, 0.5); }

.range.is-primary:before { background-color: #28CBFF; }

.range.is-info { background-color: rgba(35, 102, 209, 0.5); }

.range.is-info:before { background-color: #2366d1; }

.range.is-success { background-color: rgba(35, 209, 96, 0.5); }

.range.is-success:before { background-color: #23d160; }

.range.is-warning { background-color: rgba(255, 216, 61, 0.5); }

.range.is-warning:before { background-color: #FFd83d; }

.range.is-danger { background-color: rgba(255, 0, 79, 0.5); }

.range.is-danger:before { background-color: #FF004F; }

/* disabled*/
.range.disabled, .range.disabled:before, .range.disabled:hover::before { background-color: #bbb; box-shadow: none; pointer-events: none; }

tags, tags[is-group] { display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; overflow: hidden; }

tags[size='small'], tags tag[size='small'], tags badge[size='small'] { line-height: .9rem; }

tags[is-group] { display: inline-flex; align-items: stretch; flex: 0; margin: .2rem; border-radius: .2rem; overflow: hidden; flex-wrap: nowrap; }

tags[is-group] > tag, tags[is-group] > badge { margin: 0; border-radius: 0; }

tags[is-group][is-boxed] { max-width: 100%; flex-direction: column; overflow-x: auto; }

tags[is-group][is-boxed] > tag, tags[is-group][is-boxed] > badge { padding: 0.3125rem 0.625rem; }

tag, badge { display: inline-flex; align-items: center; justify-content: center; padding: 0.125rem 0.625rem; font-size: 0.875rem; border-radius: .2rem; margin: 1px; }

tag:not([theme]), badge:not([theme]) { background-color: whitesmoke; }

tag, badge, tag *, badge * { line-height: 1.4; }

tags[size='small'] tag, tags[size='small'] badge, tag[size='small'], badge[size='small'] { font-size: 0.75rem; padding: 0.125rem 0.5rem; }

tags[size='medium'] tag, tags[size='medium'] badge, tag[size='medium'], badge[size='medium'] { font-size: 16px; line-height: 1.5; padding: 0.1875rem 0.75rem; }

badge { border-radius: 50rem; position: relative; line-height: normal; }

[input].toogle { display: none; /*clases small y large para el toggle*/ }

[input].toogle ~ label { position: relative; display: block; width: 2.5rem; height: .5rem; margin: 1rem .5rem; cursor: pointer; border-radius: .5rem; background-color: rgba(68, 68, 68, 0.2); }

[input].toogle ~ label:before { content: ''; position: absolute; transform: translateY(-50%); top: 50%; left: 0; width: 1.25rem; height: 1.25rem; border-radius: 100%; background-color: #444; transition: all .25s ease-out; }

[input].toogle ~ label:hover::before { box-shadow: 0 0 5px 1px rgba(68, 68, 68, 0.25); left: -.15rem; width: 1.4rem; height: 1.4rem; }

[input].toogle.small ~ label { height: .25rem; }

[input].toogle.large ~ label { height: 1.25rem; border-radius: 5rem; }

[input].toogle:checked ~ label { background-color: rgba(68, 68, 68, 0.5); transform: rotate(0); }

[input].toogle:checked ~ label::before { left: 1.25rem; background-color: #434343; }

/*mixins que generan el color y estilo del toggle*/
input.toogle ~ label.is-primary { background-color: rgba(40, 203, 255, 0.2); }

input.toogle ~ label.is-primary::before { background-color: #28CBFF; }

input.toogle:checked ~ label.is-primary { background-color: rgba(0, 146, 193, 0.3); }

input.toogle:checked ~ label.is-primary::before { background-color: #0092c1; }

input.toogle ~ label.is-info { background-color: rgba(35, 102, 209, 0.2); }

input.toogle ~ label.is-info::before { background-color: #2366d1; }

input.toogle:checked ~ label.is-info { background-color: rgba(20, 59, 122, 0.3); }

input.toogle:checked ~ label.is-info::before { background-color: #143b7a; }

input.toogle ~ label.is-success { background-color: rgba(35, 209, 96, 0.2); }

input.toogle ~ label.is-success::before { background-color: #23d160; }

input.toogle:checked ~ label.is-success { background-color: rgba(20, 122, 56, 0.3); }

input.toogle:checked ~ label.is-success::before { background-color: #147a38; }

input.toogle ~ label.is-warning { background-color: rgba(255, 216, 61, 0.2); }

input.toogle ~ label.is-warning::before { background-color: #FFd83d; }

input.toogle:checked ~ label.is-warning { background-color: rgba(214, 171, 0, 0.3); }

input.toogle:checked ~ label.is-warning::before { background-color: #d6ab00; }

input.toogle ~ label.is-danger { background-color: rgba(255, 0, 79, 0.2); }

input.toogle ~ label.is-danger::before { background-color: #FF004F; }

input.toogle:checked ~ label.is-danger { background-color: rgba(153, 0, 47, 0.3); }

input.toogle:checked ~ label.is-danger::before { background-color: #99002f; }

/*clase disabled para elemento toogle*/
input.toogle:disabled ~ label:before { background-color: #aaa; pointer-events: none; }

input.toogle:disabled ~ label:hover::before { box-shadow: none; width: 1.25rem; height: 1.25rem; left: 0; }

box { display: block; padding: 1rem; max-width: 100%; overflow: hidden; border: 1px solid rgba(68, 68, 68, 0.085); border-radius: .2rem; box-shadow: 0 0.1875rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.15); }

/* 
	@params
	--  @import 'name_new-file-module';
*/
.alert { display: inline-flex; position: relative; justify-content: space-between; border-radius: .2rem; /* 	&_close { width: 10%; text-align: right; position: absolute; cursor: pointer; top: 0; right: 0; padding: .5rem; } */ }

.alert_message { width: 90%; padding: .5rem; }

.toast { display: block; position: fixed; bottom: 0; left: 0; right: 0; z-index: 6500; opacity: .9; }

.toast .alert { display: flex; border-radius: 0; padding: .5rem 0; }

@media screen and (min-width: 768px) { .toast { max-width: 500px; margin-right: auto; margin-left: auto; }
  .toast.left, .toast.right { margin: 0; }
  .toast.left { left: 0; }
  .toast.right { left: initial; width: 500px; right: 0; } }

.breadcrumb { color: rgba(68, 68, 68, 0.7); overflow-x: auto; overflow-y: hidden; }

.breadcrumb, .breadcrumb_item, .breadcrumb_item a { display: flex; align-items: center; flex-wrap: nowrap; margin: 0; line-height: 2rem; }

.breadcrumb.is-center { justify-content: center; }

.breadcrumb.is-right { overflow-x: auto; }

.breadcrumb.is-right, .breadcrumb.is-right .breadcrumb_item { flex-direction: row-reverse; justify-content: flex-end; }

.breadcrumb.is-right .breadcrumb_item:before, .breadcrumb.is-right .breadcrumb_item:last-child:before { content: '/'; }

.breadcrumb.is-right .breadcrumb_item:first-child, .breadcrumb.is-right[class] .breadcrumb_item:first-child { padding-left: .7rem; }

.breadcrumb.is-right .breadcrumb_item:first-child, .breadcrumb.is-right .breadcrumb_item:first-child a, .breadcrumb.is-right[class] .breadcrumb_item:first-child, .breadcrumb.is-right[class] .breadcrumb_item:first-child a { padding-right: 0; }

.breadcrumb.is-right .breadcrumb_item:first-child:before, .breadcrumb.is-right[class] .breadcrumb_item:first-child:before { content: ''; }

.breadcrumb .breadcrumb_item:last-child, .breadcrumb[class] .breadcrumb_item:last-child { color: #000; }

.breadcrumb .breadcrumb_item:last-child:before, .breadcrumb[class] .breadcrumb_item:last-child:before { content: ''; }

.breadcrumb_item { position: relative; cursor: pointer; }

.breadcrumb_item, .breadcrumb_item a { padding: 0 .7rem; color: inherit; }

.breadcrumb_item:first-child, .breadcrumb_item a:first-child { padding-left: 0; }

.breadcrumb_item a .icon { margin-right: .3rem; }

.breadcrumb_item a:hover { color: #000; }

.breadcrumb_item:before { font-family: "FontAwesome"; content: '\\'; position: absolute; right: .2rem; }

.breadcrumb.divider-is-angle .breadcrumb_item:before { content: '\f105'; }

.breadcrumb.divider-is-angle.is-right .breadcrumb_item:before, .breadcrumb.divider-is-angle.is-right .breadcrumb_item:last-child:before { content: '\f104'; }

.breadcrumb.divider-is-arrow .breadcrumb_item:before { content: '\f178'; }

.breadcrumb.divider-is-arrow.is-right .breadcrumb_item:before, .breadcrumb.divider-is-arrow.is-right .breadcrumb_item:last-child:before { content: '\f177'; }

.breadcrumb.divider-is-arrow.large .breadcrumb_item:before { font-size: 16px; margin-top: .15rem; }

.breadcrumb.large .breadcrumb_item:before { right: 0; }

.breadcrumb.large .breadcrumb_item, .breadcrumb_item a { padding: 0 1rem; }

.breadcrumb.large .breadcrumb_item:first-child, .breadcrumb_item a:first-child { padding-left: 0; }

.breadcrumb.divider-is-circle .breadcrumb_item:before, .breadcrumb.divider-is-circle.is-right .breadcrumb_item:last-child:before { content: '\f111'; font-size: .4rem; }

@media screen and (min-width: 768px) { .breadcrumb.is-right, .breadcrumb.is-right .breadcrumb_item { justify-content: flex-start; } }

.acordeon { display: flex; flex-direction: column; flex: auto; max-width: 25rem; overflow: hidden; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3); }

.acordeon a { display: flex; justify-content: space-between; padding: .5rem; background-color: rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.7); }

.acordeon p { padding: .5rem; }

.card { display: flex; flex-direction: column; justify-content: center; max-width: 20rem; border: 1px solid rgba(68, 68, 68, 0.4); overflow: hidden; }

.card .button { justify-content: center; }

.card_header { position: relative; }

.card_header .card_title { color: rgba(255, 255, 255, 0.7); display: flex; width: 100%; justify-content: space-between; padding: 1rem .5rem; position: absolute; bottom: 0; transition: all .2s; }

.card_header .card_title:hover { color: #fff; }

.card_content { padding: .5rem; }

.card_footer { display: flex; border-top: 1px solid rgba(0, 0, 0, 0.5); }

.card_footer a { color: #333; display: block; flex: auto; text-align: center; padding: .5rem 0; transition: all .2s; }

.card_footer a:hover { background-color: rgba(0, 0, 0, 0.05); color: #28CBFF; }

.card_footer:hover { border-top: 1px solid #28cbff; }

.snippet { display: block; max-width: 100%; position: relative; overflow: hidden; background-color: whitesmoke; padding: 1.5rem 1rem; color: #444; /* & pre { max-height: 250px; overflow-y: auto; } */ /* .expand:focus ~ pre { max-height: 100%; } */ }

.snippet .comment { display: block; color: rgba(0, 0, 0, 0.4); }

.snippet .tg { color: #2980b9; margin: 0 0.3rem; }

.snippet .tg:not(:nth-child(1)) { margin: 0; }

.snippet .at { margin-left: .3rem; color: #d35400; }

.snippet .vat { color: #16a085; margin-right: .3rem; }

.snippet .copy, .snippet .expand { font-size: 0.75rem; position: absolute; background-color: #e8e8e8; border: 0; border-radius: 0; margin: 0 -1px; top: 0; right: 0; }

.snippet .expand { right: 1.8rem; }

.media, .media_content { display: flex; }

.media { position: relative; padding: .5rem; }

.media_close { margin-left: 1em; opacity: .7; }

.media_close:hover { opacity: 1; }

.media_image { width: 50%; }

.media_content { flex-direction: column; padding-left: .5rem; }

/* clase generica menu */
.menu { height: 100vh; overflow-x: hidden; overflow-y: auto; position: relative; flex-direction: column; justify-content: space-between; }

.menu, .menu_label { display: flex; width: 100%; }

.menu a:not([class]) { color: inherit; }

.menu icon[is-left] { margin: 0 2rem 0 0.5rem; }

.menu_label { text-transform: uppercase; font-size: 0.875rem; opacity: .7; padding: 0 .5rem; margin: .5rem 0; align-items: baseline; }

.menu_list, .menu_list ul { list-style: none; margin: 0; padding: .5rem 0; }

.menu_list li, .menu_list ul li { display: flex; line-height: 3rem; height: 3rem; flex: auto; padding: .5rem; cursor: pointer; align-items: center; justify-content: space-between; text-overflow: ellipsis; }

.menu_list li:not(.is-active):hover, .menu_list ul li:not(.is-active):hover { background-color: whitesmoke; }

.is-active { background-color: #28CBFF; color: #ffffff; }

example { display: block; position: relative; background-color: transparent !important; box-shadow: inset 0 0 0 1px #444; border-radius: 0 .2rem .2rem; margin: 2.5rem auto; padding: 2px; }

example:before { /* content: attr(value); */ content: 'example'; letter-spacing: 0.085rem; position: absolute; padding: 0 .5rem; top: -1.2rem; left: 0; line-height: 1.2rem; height: 1.2rem; background-color: #444; color: #ffffff; font-weight: bold; border-radius: .2rem .2rem 0 0; font-size: 0.75rem; text-transform: uppercase; }

example.right { border-radius: .2rem 0 .2rem .2rem; }

example.right::before { left: initial; right: 0; }

example[theme~='white'] { background-color: rgba(255, 255, 255, 0.05); color: #ffffff; box-shadow: inset 0 0 0 1px #ffffff; }

example[theme~='white']:before { background-color: #ffffff; color: #444; }

example[theme~='primary'] { box-shadow: inset 0 0 0 1px #28CBFF; }

example[theme~='primary']:before { background-color: #28CBFF; }

example[theme~='success'] { box-shadow: inset 0 0 0 1px #23d160; }

example[theme~='success']:before { background-color: #23d160; }

example[theme~='info'] { box-shadow: inset 0 0 0 1px #2366d1; }

example[theme~='info']:before { background-color: #2366d1; }

example[theme~='warning'] { box-shadow: inset 0 0 0 1px #ffce0a; }

example[theme~='warning']:before { background-color: #ffce0a; color: #444; }

example[theme~='danger'] { box-shadow: inset 0 0 0 1px #FF004F; }

example[theme~='danger']:before { background-color: #FF004F; }

message, message_head { display: flex; }

message { flex-direction: column; border: 1px solid #444; border-radius: .2rem; overflow: hidden; }

message_head { justify-content: space-between; padding: .5rem; }

message_content { padding: .5rem; padding-right: 1.5rem; }

message[theme~='primary'] { background-color: #ffffff; border-color: #28CBFF; }

message[theme~='primary'] message_head { background-color: #28CBFF; }

message[theme~='primary'] message_content { background-color: rgba(40, 203, 255, 0.05); color: #00a6db; }

message[theme~='info'] { background-color: #ffffff; border-color: #2366d1; }

message[theme~='info'] message_head { background-color: #2366d1; }

message[theme~='info'] message_content { background-color: rgba(35, 102, 209, 0.05); color: #18468f; }

message[theme~='success'] { background-color: #ffffff; border-color: #23d160; }

message[theme~='success'] message_head { background-color: #23d160; }

message[theme~='success'] message_content { background-color: rgba(35, 209, 96, 0.05); color: #188f42; }

message[theme~='warning'] { background-color: #ffffff; border-color: #FFd83d; }

message[theme~='warning'] message_head { background-color: #FFd83d; color: #444; }

message[theme~='warning'] message_content { background-color: rgba(255, 216, 61, 0.05); color: #f0bf00; }

message[theme~='danger'] { background-color: #ffffff; border-color: #FF004F; }

message[theme~='danger'] message_head { background-color: #FF004F; }

message[theme~='danger'] message_content { background-color: rgba(255, 0, 79, 0.05); color: #b30037; }

.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; align-items: center; justify-content: center; z-index: 500; }

.modal.is-visible { display: flex; }

.modal_content { display: flex; max-width: 80%; max-height: 90%; background-color: #ffffff; border-radius: .2rem; overflow-x: hidden; box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.4); z-index: 510; }

.modal_head { display: flex; align-items: center; padding-right: .5rem; padding-left: .5rem; line-height: 2rem; height: 2rem; }

.modal_body { display: block; width: 100%; min-height: 100%; overflow-x: hidden; overflow-y: auto; }

.close_modal { display: flex; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 510; cursor: pointer; background-color: rgba(0, 0, 0, 0.8); }

.navbar { width: 100%; justify-content: center; }

.navbar, .navbar_header, .navbar_menu { display: flex; }

.navbar_header, .navbar_menu { min-height: 3rem; }

.navbar_header { justify-content: space-between; }

.navbar, .navbar_menu { flex-direction: column; }

.navbar.is-mobile { flex-direction: row; overflow-x: auto; justify-content: flex-start; }

.navbar_brand, .navbar_menu li, .navbar_item { display: flex; position: relative; height: 3rem; line-height: 3rem; align-items: center; cursor: pointer; margin: 0 .25rem; }

.navbar_brand, .navbar_item { padding: 0 1rem; }

.navbar_item:hover { background-color: whitesmoke; color: #000; }

.navbar_menu { list-style: none; margin: 0; }

.navbar_menu li { flex-grow: 0; flex-shrink: 0; }

.navbar.has-fixed, .navbar.has-fixed-tl, .navbar.has-fixed-tr, .navbar.has-fixed-bl, .navbar.has-fixed-br, .navbar.has-fixed--down { position: fixed; top: 0; left: 0; width: 100%; }

.navbar.has-fixed--down { top: initial; bottom: 0; }

@media screen and (min-width: 768px) { .navbar_menu { display: flex; flex-direction: row; align-items: center; } }

@media screen and (min-width: 1024px) { .navbar { flex-direction: row; }
  .navbar_header { justify-content: flex-start; }
  .navbar_menu { justify-content: flex-end; } }

.mega { display: block; position: relative; padding: 4rem; width: 100%; }

.mega_title { letter-spacing: .2rem; margin-bottom: 1rem; }

.mega_content { text-align: justify; letter-spacing: .05rem; }

.tabs, .tabs--pill, .tabs--boxed { display: flex; width: 100%; z-index: 1; overflow-x: auto; }

.tabs > .tab, .tabs--pill > .tab, .tabs--boxed > .tab { display: flex; position: relative; line-height: 3rem; height: 3rem; padding: 0 .8rem; flex-grow: 0; flex-shrink: 0; color: inherit; cursor: pointer; align-items: center; justify-content: center; border-radius: 0; }

.tabs > .tab:before, .tabs--pill > .tab:before, .tabs--boxed > .tab:before { content: ''; display: block; width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; transition: all .2s ease-out; }

.tabs > .tab.is-active, .tabs--pill > .tab.is-active, .tabs--boxed > .tab.is-active { background-color: transparent; color: #28CBFF; }

.tabs > .tab.is-active:before, .tabs--pill > .tab.is-active:before, .tabs--boxed > .tab.is-active:before { background-color: #28CBFF; }

.tabs > .tab:not(.is-active):hover, .tabs--pill > .tab:not(.is-active):hover, .tabs--boxed > .tab:not(.is-active):hover { color: #000; }

.tabs > .tab:not(.is-active):hover:before, .tabs--pill > .tab:not(.is-active):hover:before, .tabs--boxed > .tab:not(.is-active):hover:before { background-color: rgba(68, 68, 68, 0.2); }

.tabs--pill *, .tabs--boxed * { border-bottom: 1px solid rgba(68, 68, 68, 0.1); border-radius: .2rem .2rem 0 0; transition: all .2s ease-out; }

.tabs--pill *:before, .tabs--boxed *:before { display: none; }

.tabs--pill *.is-active, .tabs--boxed *.is-active { color: #28CBFF; border: 1px solid rgba(68, 68, 68, 0.1); border-bottom: 0; }

.tabs--pill *:not(.is-active):hover, .tabs--boxed *:not(.is-active):hover { background-color: rgba(68, 68, 68, 0.05); }

.tabs--box * { border: 1px solid rgba(68, 68, 68, 0.1); border-right: 0; border-radius: 0; }

.tabs--box *.is-active { background-color: #28CBFF; color: #ffffff; }

.tabs--box *:first-child { border-radius: .2rem 0 0 .2rem; }

.tabs--box *:last-child { border-right: 1px solid rgba(68, 68, 68, 0.1); border-radius: 0 .2rem .2rem 0; }

.table, .table--striped, .table--cell { display: table; max-width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid rgba(68, 68, 68, 0.2); }

.table table, .table--striped table, .table--cell table, .table .table, .table--striped .table, .table--cell .table, .table .table--striped, .table--striped .table--striped, .table--cell .table--striped, .table .table--cell, .table--striped .table--cell, .table--cell .table--cell { border: 0; }

.table.is-boxed, .is-boxed.table--striped, .is-boxed.table--cell { width: 100%; }

.table thead, .table--striped thead, .table--cell thead, .table tr:not(:last-child), .table--striped tr:not(:last-child), .table--cell tr:not(:last-child) { border-bottom: 1px solid rgba(68, 68, 68, 0.2); }

.table tr, .table--striped tr, .table--cell tr { vertical-align: middle; transition: all .1s ease; }

.table tr.is-active, .table--striped tr.is-active, .table--cell tr.is-active { background-color: #28CBFF; color: #ffffff; }

.table td, .table--striped td, .table--cell td, .table th, .table--striped th, .table--cell th { text-align: left; padding: .5rem; min-width: 9.375rem; vertical-align: middle; }

.table--striped tr:nth-child(2n) { background-color: whitesmoke; }

.table--striped tr:nth-child(2n):hover { background-color: #f0f0f0; }

.table--cell td, .table--cell th { border: 1px solid rgba(68, 68, 68, 0.2); border-top: 0; border-bottom: 0; }

.table--cell td:first-child, .table--cell th:first-child { border-left: 0; }

.table--cell td:last-child, .table--cell th:last-child { border-right: 0; }
