/*
 Kimera 0.4.4 | MIT License
 GitHub: github.com/JorgeAntrax/kimera
 Autor: Leonardo Quintana
 migration a typescript
*/

@charset "utf-8";
@import 'base/_all',
'layout/_all',
'components/_all',
'modules/_all',
'utilities/_all';