/*
 Kimera 0.5.2 | MIT  License
 GitHub: github.com/JorgeAntrax/kimera
 Doc: https://jorgeantrax.github.io/kimeracss/
 Autor: Leonardo Quintana
 New module calendar
*/

@charset "utf-8";
@import 'base/_all',
'layout/_all',
'components/_all',
'modules/_all',
'utilities/_all';