/*
 Level 0.5.3 | MIT  License
 GitHub: github.com/JorgeAntrax/kimera
 Doc: https://jorgeantrax.github.io/kimeracss/
 Autor: Leonardo Quintana

 Integration with gulp [
	 'sass',
	 'ts'
 ]
*/

@charset "utf-8";
@import 'base/base.min',
'layout/layouts.min',
'components/components.min',
'modules/modules.min',
'utilities/utilities.min';