tabs.shadow-y
	tab(data-id="#page-acordeon").is-active Acordeon
	tab(data-id="#page-bread") Breadcrumb
	tab(data-id="#page-card") Cards
	tab(data-id="#page-group") Group
	tab(data-id="#page-media") Media
	tab(data-id="#page-mega") Mega
	tab(data-id="#page-menu") Menus
	tab(data-id="#page-message") Message
	tab(data-id="#page-modal") Modal
	tab(data-id="#page-navbar") Navbar
	tab(data-id="#page-notify") Notify
	//tab(data-id="#page-slide") Slideshow
	tab(data-id="#page-social") Social
	tab(data-id="#page-table") Table
	tab(data-id="#page-tabs") Tabs
tabs-content.app
	tab-content#page-acordeon
		include acordeon
	tab-content#page-bread
		include breadcrumb
	tab-content#page-card
		include card
	tab-content#page-group
		include group
	tab-content#page-media
		include media
	tab-content#page-mega
		include mega
	tab-content#page-menu
		include menus
	tab-content#page-message
		include message
	tab-content#page-modal
		include modal
	tab-content#page-navbar
		include navbar
	tab-content#page-notify
		include notify
	//tab-content#page-slide
	//	include ../../html/modules/slideshow.html
	tab-content#page-social
		include social
	tab-content#page-table
		include table
	tab-content#page-tabs
		include tabs
