h1.title Message
tags.is-group
	tag.is-info Path
	tag _message.scss
	tag.is-success Colores
divider
p M칩dulo que te permite
	b enfatizar
	span bloques de contenido.
message.is-info
	content
		p Cualquiera de sus componenetes puede ser omitido sin afectar el resultado final.
h4.subtitle Estructura
ul.default-browser
	li Contenedor principal
		code &ltmessage&gt
	li header
		code &ltheader&gt
	li Contenido
		code &ltcontent&gt
row.bloque
	column.tablet-is-half
		message
			header
				span Title header
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
	column.tablet-is-half
		snippet
			pre
				tg &ltmessage&gt
				br
				tg   &ltheader&gt
				br
				span     Title header
				br
				tg     &ltclose&gt&lt/close&gt
				br
				tg   &lt/header&gt
				br
				tg   &ltcontent&gt
				br
				tg     &ltp&gt
				span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptas.
				tg &lt/p&gt
				br
				tg   &lt/content&gt
				br
				tg &lt/message&gt
h4.subtitle Colores
row.bloque
	column.tablet-is-half
		message.is-dark
			header
				span Dark
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-black
			header
				span Black
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-primary
			header
				span Primary
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-info
			header
				span Primary
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-success
			header
				span Primary
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-warning
			header
				span Primary
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-danger
			header
				span Primary
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
	column.tablet-is-half
		snippet
			pre
				tg &ltmessage
				at class=
				vat "is-dark"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-black"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-primary"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-info"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-success"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-warning"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-danger"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
h4.subtitle Variantes
p El m칩dulo
	code message
	span tiene 2 variantes, las cuales se aplican omitiendo el contendor
	code header
row.bloque
	column.tablet-is-half
		message.is-dark
			content
				p Lorem ipsum dolor sit amet.
		message.is-black
			content
				p Lorem ipsum dolor sit amet.
		message.is-primary
			content
				p Lorem ipsum dolor sit amet.
		message.is-info
			content
				p Lorem ipsum dolor sit amet.
		message.is-success
			content
				p Lorem ipsum dolor sit amet.
		message.is-warning
			content
				p Lorem ipsum dolor sit amet.
		message.is-danger
			content
				p Lorem ipsum dolor sit amet.
	column.tablet-is-half
		snippet
			pre
				tg &ltmessage
				at class=
				vat "is-dark"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-black"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-primary"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-info"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-success"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-warning"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-danger"
				tg &gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
h4.subtitle Tama침os
p.bloque a침adiendo una de las siguientes clases:
ul.defaul-browser
	li: code .is-small
	li: code .is-medium
	li: code .is-large
row.bloque
	column.tablet-is-half
		message.is-small
			header
				span Small message
				close.is-small
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message
			header
				span Default message
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-medium
			header
				span Medium message
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
		message.is-large
			header
				span Large message
				close
					i.fa.fa-times-circle
			content
				p Lorem ipsum dolor sit amet.
	column.tablet-is-half
		snippet
			pre
				tg &ltmessage
				at class=
				vat "is-small"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage&gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-medium"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt
				br
				tg &ltmessage
				at class=
				vat "is-large"
				tg &gt
				br
				tg   &ltheader&gt
				span ...
				tg &lt/header&gt
				br
				tg   &ltcontent&gt
				span ...
				tg &lt/content&gt
				br
				tg &lt/message&gt