h1.title Notificaciones
tags.is-group
	tag.is-info Path
	tag _notify.scss
p Un
	b módulo simple y versatíl
	span para generar alertas visuales.
divider
h4.subtitle Estructura
row.bloque
	column.tablet-is-half
		notify
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		message.is-info
			content
				p La clase
					code is-close
					span posiciona el closeo absolutamente en la esquina superior derecha.
	column.tablet-is-half
		snippet
			pre
				tg &ltnotify&gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
h4.subtitle Colores
p.bloque Para este módulo adicionalmente se incluyen
	b 5 estilos diferentes
	span .
row.bloque
	column.tablet-is-half
		notify.is-dark
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-black
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-primary
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-info
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-success
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-warning
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-danger
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
	column.tablet-is-half
		snippet
			pre
				tg &ltnotify
				at class=
				vat "is-dark"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-black"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-primary"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-info"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-success"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-warning"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-danger"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
h4.subtitle Tamaños
p.bloque Con
	b 3 tamaños
	span adicionales.
row.bloque
	column.tablet-is-half
		notify.is-info.is-small
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-success
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-warning.is-medium
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
		notify.is-danger.is-large
			p Lorem ipsum dolor sit amet.
			close
				i.fa.fa-times-circle
	column.tablet-is-half
		snippet
			pre
				tg &ltnotify
				at class=
				vat "is-info is-small"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-success"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-warning is-medium"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt
				br
				tg &ltnotify
				at class=
				vat "is-danger is-large"
				tg &gt
				br
				tg   &ltclose&gt
				span ...
				tg &lt/close&gt
				br
				tg   &ltp&gt
				span Lorem ipsum dolor sit amet.
				tg &lt/p&gt
				br
				tg &lt/notify&gt