/*
 Kimera 0.3.5 | MIT License
 GitHub: github.com/JorgeAntrax/kimera
 Autor: Leonardo Quintana
 pseudo name: Leito Winchester Grimes Salvatore

 All documentation is updated.
 Happy new year

 Contact: spicer_94@hotmail.com or jantraxhernandez@gmail.com
*/
@charset "utf-8";
@import 
	'scss/base/_all',
	'scss/layout/_all',
	'scss/components/_all',
	'scss/modules/_all',
	'scss/utilities/_all';