/*
 Kimera 0.2.51 | MIT License
 GitHub: github.com/JorgeAntrax/kimera
 Autor: Leonardo Quintana
 pseudo name: Leito Winchester Grimes Salvatore

 This project have a license MIT

 Contact: spicer_94@hotmail.com or jantraxhernandez@gmail.com

 Thanks for using my framework CSS. 
*/

@charset "utf-8";
// utilities mixins function variables etc...
@import 
	'scss/base/_all',
	'scss/layout/_all',
	'scss/components/_all',
	'scss/modules/_all',
	'scss/utilities/_all';