tabs.shadow-y
	tab(data-id="#page-block").is-active Blockquotes
	tab(data-id="#page-box") Box
	tab(data-id="#page-buttons") Buttons
	tab(data-id="#page-chip") Chip
	tab(data-id="#page-dropdown") Dropdown
	tab(data-id="#page-icons") Icons
	tab(data-id="#page-preload") Preload
	tab(data-id="#page-progress") Progress
	tab(data-id="#page-range") Range
	tab(data-id="#page-tags") Tags
	tab(data-id="#page-toggle") Toggle
	tab(data-id="#page-tooltip") Tooltips
tabs-content.app
	tab-content#page-block
		include blockquote
	tab-content#page-box
		include box
	tab-content#page-buttons
		include buttons
	tab-content#page-chip
		include chip
	tab-content#page-dropdown
		include dropdown
	tab-content#page-icons
		include icons
	tab-content#page-tags
		include tags
	tab-content#page-tooltip
		include tooltip
	tab-content#page-toggle
		include toggle
	tab-content#page-range
		include range
	tab-content#page-preload
		include preload
	tab-content#page-progress
		include progress
