h1.title Preloader
tags.is-group
	tag.is-info Path
	tag _progress.scss
	tag.is-success Colores
divider
p.bloque Este peque単o componente te permite indicar que hay una tarea en progreso, muy similar al componente
	code progress-bar
	span .
row.bloque
	column.tablet-is-half
		preload
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload&gt&lt/preload&gt
h4.subtitle Colores
p.bloque disponible en 6 colores base.
row.bloque
	column.tablet-is-half
		div(style="display: inline-block").color-black
			preload.is-cloud
		preload
		preload.is-info
		preload.is-success
		preload.is-warning
		preload.is-danger
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-cloud"
				tg &gt&lt/preload&gt
				br
				tg &ltpreload&gt&lt/preload&gt
				br
				tg &ltpreload
				at class=
				vat "is-info"
				tg &gt&lt/preload&gt
				br
				tg &ltpreload
				at class=
				vat "is-success"
				tg &gt&lt/preload&gt
				br
				tg &ltpreload
				at class=
				vat "is-warning"
				tg &gt&lt/preload&gt
				br
				tg &ltpreload
				at class=
				vat "is-danger"
				tg &gt&lt/preload&gt
				br
h4.subtitle Estilos
p.bloque A単adiendo la clase
	code .is-dinamic
row.bloque
	column.tablet-is-half
		preload.is-dinamic.is-medium
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-dinamic is-medium"
				tg &gt&lt/preload&gt
h4.subtitle Tama単os
p.bloque Con 4 tama単os diferentes.
row.bloque
	column.tablet-is-half
		preload.is-tiny
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-tiny"
				tg &gt&lt/preload&gt
row.bloque
	column.tablet-is-half
		preload.is-small
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-small"
				tg &gt&lt/preload&gt
row.bloque
	column.tablet-is-half
		preload.is-medium
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-medium"
				tg &gt&lt/preload&gt
row.bloque
	column.tablet-is-half
		preload.is-large.is-hoverable
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-large"
				tg &gt&lt/preload&gt
h4.subtitle Velocidad
p.bloque Puedes controlar la velocidad mediante las siguientes clases:
row.bloque
	column.tablet-is-half
		preload.is-lower
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-lower"
				tg &gt&lt/preload&gt
row.bloque
	column.tablet-is-half
		preload.is-fast
	column.tablet-is-half
		snippet
			pre
				tg &ltpreload
				at class=
				vat "is-fast"
				tg &gt&lt/preload&gt