// replazo del scroll y ocultamiento.
* ::-webkit-scrollbar {
	background-color: rgba($dark, .1);
	width: rem(8px);
	height: rem(5px);
}
@include max-screen-media (touch) {
	* ::-webkit-scrollbar {
		display: none;
	}
}
* ::-moz-scrollbar {
	background-color: rgba($dark, .1);
	width: rem(8px);
	height: rem(5px);
}
@include max-screen-media (touch) {
	* ::-moz-scrollbar {
		display: none;
	}
}
* ::-webkit-scrollbar-thumb {
	background-color: rgba($dark, .2);
	border-radius: 1rem;
	cursor: pointer;
	transition: all .2s ease-out;
	&:hover, &:active {
		background-color: rgba($dark, .4);
	}
}
* ::-moz-scrollbar-thumb {
	background-color: rgba($dark, .2);
	border-radius: 1rem;
	cursor: pointer;
	transition: all .2s ease-out;
	&:hover, &:active {
		background-color: rgba($dark, .4);
	}
}
* ::-webkit-scrollbar-track {
	display: none;
}


// fin coding scroll replace
.is-flex, .group {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

//contenedor que limita el ancho maximo y añade unos cuantos padding
.container{
	max-width:1000px;
	width: 100%;
	padding: .5rem;	
}

// la clase total-vh hace que el contenedor mida el 100% del viewport height
.is-screen-fluid {
	height: 100vh;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
//Clases generales para tamaño de iconos botones texto en general

.small { font-size: $text-small; }
.medium { font-size: $text-medium; }
.large { font-size: $text-large; }
.x-large {font-size: $text-x-large; }

// clase que convierte texto en uppercase
.up-case {
	text-transform: uppercase;
}
// clase que convierte texto en lowercase
.low-case {
	text-transform: lowercase;
}
.isnt-round *[class] {border-radius:0;}
//clases genericas
.is-round {
	border-radius: 100rem;
	overflow: hidden;
}

//genera margin de 1px
.bordered *[class]{margin:.05rem;}

//helpers padding
[layout~="padding-05"] {	padding: 0.5rem; }
[layout~="padding-1"] {	padding: 1rem; }
[layout~="padding-2"] {	padding: 2rem; }
[layout~="padding-3"] {	padding: 3rem; }
// helpers pading vertical
[layout~="padding-v-05"] {	padding: 0.5rem 0; }
[layout~="padding-v-1"] {	padding: 1rem 0; }
[layout~="padding-v-2"] {	padding: 2rem 0; }
[layout~="padding-v-3"] {	padding: 3rem 0; }
// helpers padding horizontal
[layout~="padding-h-05"] {	padding: 0 0.5rem; }
[layout~="padding-h-1"] {	padding: 0 1rem; }
[layout~="padding-h-2"] {	padding: 0 2rem; }
[layout~="padding-h-3"] {	padding: 0 3rem; }
//fin helpers padding

.has-text-center {
	text-align: center;
	& > * {
		text-align: inherit;
	}
}

// copiado de grid scss


.is-full {
	flex: 100%;
}
[layout~='total-viewport'] {
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
}

[since-touch~='center'],
[since-touch~='center-v'],
[since-touch~='center-h'],
[since-touch~='right'],
[since-touch~='bottom'],
[since-tablet~='center'],
[since-tablet~='center-v'],
[since-tablet~='center-h'],
[since-tablet~='right'],
[since-tablet~='bottom'],
[since-desktop~='center'],
[since-desktop~='center-v'],
[since-desktop~='center-h'],
[since-desktop~='right'],
[since-desktop~='bottom'],
[since-widescreen~='center'],
[since-widescreen~='center-v'],
[since-widescreen~='center-h'],
[since-widescreen~='right'],
[since-widescreen~='bottom'],
[layout~='center'],
[layout~='center-v'],
[layout~='center-h'],
[layout~='right'],
[layout~='top'],
[layout~='left'],
[layout~='bottom'] {
	display: flex;
}

[layout~='center'] {
	align-items: center;
	justify-content: center;
}
[layout~='center-v'] {
	align-items: center;
}
[layout~='center-h'] {
	justify-content: center;
}
[layout~='separated'] {
	justify-content: space-between;
}
[layout~='distributed'] {
	justify-content: space-around;
}

//capas de contenido
// html body
[layout~='level-1'] {
	z-index: 10;
}
//modules
[layout~='level-2'] {
	z-index: 20;
}
//components
[layout~='level-3'] {
	z-index: 30;
}
//Menus, navbars, floating buttons etc
[layout~='level-4'] {
	z-index: 40;
}
// ventanas modales entre otros
[layout~='level-5'] {
	z-index: 50;
}

//media queries hidden with min width
@include min-screen-media (touch) {
	[since-touch~='hidden'] {
		display: none;
	}
	[since-touch~='center'] {
		align-items: center;
		justify-content: center;
	}
	[since-touch~='center-v'] {
		align-items: center;
	}
	[since-touch~='center-h'] {
		justify-content: center;
	}
	[since-touch~='right'] {
		justify-content: flex-end;
	}
	[since-touch~='bottom'] {
		align-items: flex-end;
	}
	[since-touch~='ditributed'] {
		justify-content: space-around;
	}
	[since-touch~='separated'] {
		justify-content: space-between;
	}
}
@include min-screen-media (tablet) {
	[since-tablet~='hidden'] {
		display: none;
	}
	[since-tablet~='center'] {
		align-items: center;
		justify-content: center;
	}
	[since-tablet~='center-v'] {
		align-items: center;
	}
	[since-tablet~='center-h'] {
		justify-content: center;
	}
	[since-tablet~='right'] {
		justify-content: flex-end;
	}
	[since-tablet~='bottom'] {
		align-items: flex-end;
	}
	[since-tablet~='ditributed'] {
		justify-content: space-around;
	}
	[since-tablet~='separated'] {
		justify-content: space-between;
	}

}
@include min-screen-media (desktop) {
	[since-desktop~='hidden']{
		display: none;
	}
	[since-desktop~='center'] {
		align-items: center;
		justify-content: center;
	}
	[since-desktop~='center-v'] {
		align-items: center;
	}
	[since-desktop~='center-h'] {
		justify-content: center;
	}
	[since-desktop~='right'] {
		justify-content: flex-end;
	}
	[since-desktop~='bottom'] {
		align-items: flex-end;
	}
	[since-desktop~='ditributed'] {
		justify-content: space-around;
	}
	[since-desktop~='separated'] {
		justify-content: space-between;
	}
}
@include min-screen-media (widescreen) {
	[since-widescreen~='hidden'] {
		display: none;
	}
	[since-widescreen~='center'] {
		align-items: center;
		justify-content: center;
	}
	[since-widescreen~='center-v'] {
		align-items: center;
	}
	[since-widescreen~='center-h'] {
		justify-content: center;
	}
	[since-widescreen~='right'] {
		justify-content: flex-end;
	}
	[since-widescreen~='bottom'] {
		align-items: flex-end;
	}
	[since-widescreen~='ditributed'] {
		justify-content: space-around;
	}
	[since-widescreen~='separated'] {
		justify-content: space-between;
	}
}


//media queries hidden with max width
@include max-screen-media (touch) {
	[until-touch~='hidden'] {
		display: none;
	}
}
@include max-screen-media (tablet) {
	[until-tablet~='hidden']{
		display: none;
	}

}
@include max-screen-media (desktop) {
	[until-desktop~='hidden'] {
		display: none;
	}
}

// ocultar
[hidden] {
	display: none;
}