row.color-light.is-center.padding-2.margin-t-2
	img(src=urlimage+"/jsdelivr.png", alt="CDN Jsdelivr" style="width: 25px; height: 25px;")
	p.padding-h-1
		a(href="https://jsdelivr.com").is-text-info CDN
		span.op-05 proporcionado por
		b JsDelivr.
mega.color-danger
	content
		center
			h2: upper kimera newsletter
			span Te informaremos cuando la<b>V1</b>este lista!
		row.is-center.margin-t-2
			field.is-horizontal.tablet-12
				control.is-icon-left.is-expand
					input(type="text" placeholder="Aqui tu email...").input.is-danger
					icon
						danger: i.fa.fa-envelope
				control
					button.is-block.is-danger-inverse SUSCRIBIRSE
footer.padding-2.is-light.is-small
	row.is-distributed-tablet.margin-b-2
		column.tablet-6.padding-1
			p
				b Kimera
				span por
				a(href="https://www.facebook.com/AntraXhernandez94"): b Leonardo Quintana
				span .
			a(href="https://twitter.com/kimeracssframew?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false") Follow @kimeraCSS
		column.tablet-6.padding-1
			div
				b Apoyanos
				span compartiendo este proyecto.
			p
				#fb-root
				.fb-like(data-href="https://jorgeantrax.github.io/kimeracss" data-width="70" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
			p
				a(href="https://twitter.com/intent/tweet?screen_name=kimeracssframew&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="true") Tweet
			a(href="https://github.com/JorgeAntrax/kimera/stargazers" target="_blank")#button-github
				icon
					i.fa.fa-github
				span Github
			tag.is-small Star 6
			form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
				input(type="hidden" name="cmd" value="_s-xclick")
				input(type="hidden" name="hosted_button_id" value="TGFJH97W6NQ4L")
				input(type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.")
		column.tablet-6.padding-1
			p
				b Kimera
				span es un proyecto gratuito y open source, ayudanos compartiendolo con tus amigos, para que este proyecto crezca.
			p Encontraste algún error, puedes reportarlo con nosotros
				a(href="https://github.com/JorgeAntrax/kimera/issues").is-text-bolder aqui
				span .
	center
		span El Contenido de esta web cuenta con la licencía  
		a(href="https://creativecommons.org/licenses/by/3.0"): b CC BY 3.0
		span .
	center.padding-v-05
		b Kimera
		span es un proyecto gratuito y
		b open source
		span con licencia
		a(href="https://github.com/JorgeAntrax/kimera/blob/master/LICENSE").is-text-bolder MIT
	center.margin-b-2 &copy Kimera 2018, Todos los derechos reservados.
	center
		a(href="#home").button.is-light.is-medium.is-rounded
			icon
				i.fa.fa-angle-up