title Kimera CSS
meta(charset="utf-8")
meta(name="description" content="Kimera es un potente framework CSS open-source basado en flexbox, que implenta un simple y potente sistema basado en atributos HTML5.")
meta(name="keywords" content="kimera framework, kimera css, framework css, librerías, desarrollo web, desarrollo modular, sass, scss, frameworks para diseño web")
meta(name="author" content="Leonardo Quintana Juarez")

meta(property="og:url"           content="https://kimera.comli.com")
meta(property="og:type"          content="website")
meta(property="og:title"         content="Kimera CSS framework")
meta(property="og:description"   content="Is a free and open source CSS framework based on flexbox and custom tags")
meta(property="og:image"         content="https://kimera.comli.com/img/logo.jpg")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
//icon favicon
link(rel="icon" href="/favicon.ico" type="image/x-icon")

//link(rel="stylesheet" href="font/font-awesome/css/font-awesome.min.css")
//link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="css/kimera.min.css")
link(rel="stylesheet" href="css/docs.css")