#menu-close
menu#m1.color-primary
	content
		row.padding-v-2.is-center
			img(src=urlimage+'logo-white.png' alt="kimera" style="width: 30%; height: auto")
		menu-item.is-active
			a(href="#layout-home")
				icon
					i.fa.fa-home
				span Inicio
		menu-item
			a(href="#layout-intro")
				icon
					i.fa.fa-heart
				span Introducción
		divider.is-white
		menu-item.is-label documentación
		menu-item
			a(href="#layout-grid")
				icon
					i.fa.fa-th-large
				span Sistema de rejilla
		menu-item
			a(href="#layout-components")
				icon
					i.fa.fa-cubes
				span Componentes
		menu-item
			a(href="#layout-forms")
				icon
					i.fa.fa-mouse-pointer
				span Formularios
		menu-item
			a(href="#layout-modules")
				icon
					i.fa.fa-pie-chart
				span Modulos