//FILE THEME.

// style bycolor of text
.is-text-dark { color: $dark; } //no modified, this have a @extend for mixin colors
.is-text-cloud { color: $cloud; } //no modified, this have a @extend for mixin colors


.is-light{
	background-color: whitesmoke;
	@extend .is-text-dark;  // contain link a @extend to this file top.
}

.is-white {
	background-color: $cloud;
	@extend .is-text-dark;  // contain link a @extend to this file top.
}

@include colors (is-dark, $dark);  // contain link a @extend to this file top.
@include colors (is-primary, $primary);  // contain link a @extend to this file top.
@include colors (is-info, $info);  // contain link a @extend to this file top.
@include colors (is-success, $success);  // contain link a @extend to this file top.
@include colors (is-warning, $warning);  // contain link a @extend to this file top.
@include colors (is-danger, $danger);  // contain link a @extend to this file top.
@include colors (is-indigo, #57007F);  // contain link a @extend to this file top.

