//FILE THEME.

// palete color
//@incluide color-picker ($class, $base-color, $type: 'bg', $number-colors: 5, $interval-color: 2)
@include color-picker (indigo, indigo, 'background', 4, 3);

// style bycolor of text
.is-text-dark { color: $dark; } //no modified, this have a @extend for mixin colors
.is-text-cloud { color: $cloud; } //no modified, this have a @extend for mixin colors


.is-light{
	background-color: whitesmoke;
	@extend .is-text-dark;  // contain link a @extend to this file top.
}

.is-white {
	background-color: $cloud;
	@extend .is-text-dark;  // contain link a @extend to this file top.
}

@include theme (dark, $dark);  // contain link a @extend to this file top.
@include theme (primary, $primary);  // contain link a @extend to this file top.
@include theme (info, $info);  // contain link a @extend to this file top.
@include theme (success, $success);  // contain link a @extend to this file top.
@include theme (warning, $warning);  // contain link a @extend to this file top.
@include theme (danger, $danger);  // contain link a @extend to this file top.
@include theme (indigo, #57007F);  // contain link a @extend to this file top.