//REVISAR ESTA PARTE
.has-fixed {
	$position-x: 0.5rem;
	$position-y: 0.5rem;
	position: fixed !important;
	&-tl,
	&-tr {
		@extend .has-fixed;
		top: $position-y;
	}
	&-bl,
	&-br {
		@extend .has-fixed;
		bottom: $position-y;
	}
	&-tl,
	&-bl {
		left: $position-x;
	}
	&-tr,
	&-br {
		right: $position-x;
	}
}

// helpers de reset
.is-marginless {
	margin: 0 !important;
}

.is-paddingless {
	padding: 0 !important;
}
.is-rounded {
	border-radius: 1000em;
}
.padding-05 {
	padding: 0.5rem;
}
.padding-v-05 {
	padding: 0.5rem 0;
}
.padding-h-05 {
	padding:0  0.5rem;
}
.padding-v-1 {
	padding: 1rem 0;
}
.padding-h-1 {
	padding: 0 1rem;
}
.padding-1 {
	padding: 1rem;
}
.padding-v-2 {
	padding: 2rem 0;
}
.padding-h-2 {
	padding: 0 2rem;
}
.padding-2 {
	padding: 2rem;
}
.padding-v-3 {
	padding: 3rem 0;
}
.padding-h-3 {
	padding: 0 3rem;
}
.padding-3 {
	padding: 2rem;
}
.op-01 {
	opacity: .1;
}
.op-02 {
	opacity: .2;
}
.op-03 {
	opacity: .3;
}
.op-04 {
	opacity: .4;
}
.op-05 {
	opacity: .5;
}