//REVISAR ESTA PARTE
.is-flex {
	display: flex;
}

.is-wrapped {
	flex-wrap: wrap;
}

.has-fixed {
	$position-x: 0.5rem;
	$position-y: 0.5rem;
	position: fixed !important;
	&-tl,
	&-tr {
		@extend .has-fixed;
		top: $position-y;
	}
	&-bl,
	&-br {
		@extend .has-fixed;
		bottom: $position-y;
	}
	&-tl,
	&-bl {
		left: $position-x;
	}
	&-tr,
	&-br {
		right: $position-x;
	}
}

//contenedor que limita el ancho maximo y añade unos cuantos padding
.container {
	max-width: 1000px;
	width: 100%;
	padding: .5rem;
}

[clearfix] {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
// helpers de reset
.is-marginless {
	margin: 0 !important;
}

.is-paddingless {
	padding: 0 !important;
}

// helpers flexbox
[is-center] {
		align-items: center;
		justify-content: center;
	}
	[is-center-v] {
		align-items: center;
	}

	[is-center-h] {
		justify-content: center;
	}

	[is-up] {
		align-items: flex-start;
	}

	[is-left] {
		justify-content: flex-start;
	}

	[is-down] {
		align-items: flex-end;
	}

	[is-right] {
		justify-content: flex-end;
	}

	[is-separated] {
		justify-content: space-between;
	}

	[is-distributed] {
		justify-content: space-around;
	}