@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300');

html, body, button, input, p, textarea, select {
  font-family: 'Roboto', sans-serif;
}

snippet *, code, samp, pre {
  font-family: 'Roboto Mono', monospace;
}

/*fuente*/
/*@font-face {
  font-family: 'Roboto-Light';
  src:url('../font/Roboto-Light_0.ttf') format('truetype');
}
html, body, button, input, p, textarea, select {font-family: 'Roboto-Light', sans-serif;}
*/
color {
  margin-right: 0.25rem;
}

#modal-demo-table table {
  margin: 0 auto;
}

b, strong, a {
  margin: 0 4px;
}

#bottom-nav {
  background-color: #fff;
  z-index: 450;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem 0;
  box-shadow: 0 -2px 8px -1px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  a {
    color: inherit;
  }
  item {
    cursor: pointer;
    flex: 0 1 auto;
    :hover {
      color: #22adff;
    }
  }
}

#demo-doce column span {
  display: none;
}

#map-sass pre span {
  line-height: 2;
}

#show-password {
  cursor: pointer;
  :hover {
    color: #000;
  }
}

.input {
  color: #333;
}

#layout-grid layout {
  min-height: 100px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

#layout-grid layout * {
  border-radius: 0;
  font-weight: bold;
  text-align: center;
}

#layout-grid layout *:not(.no-padding) {
  padding: 1rem;
}

#layout-grid layout sidebar,
#layout-grid layout main,
#layout-grid layout[is-dashboard] > sidebar,
#layout-grid layout[is-dashboard] > main {
  min-height: 200px;
  height: 200px;
}

layout.collapse {
  max-height: 100px;
  margin-bottom: 1rem;
}

layout.collapse * {
  padding: 1rem;
}

#homedemo1 {
  color: #333;
}

buttons:not([addons]) > button {
  margin: .5em;
}

#demo-form {
  background-color: whitesmoke;
  padding: 2em;
}

#layout-home h3.subtitle {
  margin-bottom: 4em;
}

#layout-home navbar {
  margin-bottom: 1rem;
}

#homedemo1 {
  text-align: justify;
}

#homedemo1 blockquote {
  padding: 1rem;
  overflow: hidden;
  color: #333;
  margin-bottom: 2rem;
  height: 3rem;
}

#homedemo1 blockquote.transparent {
  background-color: transparent;
}

.mac icon {
  opacity: .6;
  margin: 0 .25rem;
  cursor: pointer;
  :hover {
    opacity: 1;
  }
}

#homedemo1 menu item {
  min-height: 0;
  padding: .75rem 1rem;
}

#img-mac {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 8rem;
  border-radius: 5px;
}

#img-mac img {
  height: 100%;
}

navbar {
  box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.05);
}

navbar.color-black nav-item:not(.clear):hover {
  box-shadow: inset 0 0 100px 1px rgba(255, 255, 255, 0.1);
}

navbar nav-item:not(.clear):hover {
  box-shadow: inset 0 0 100px 1px rgba(0, 0, 0, 0.05);
}

#demo-form small {
  opacity: .6;
}

#demo-form form {
  max-width: 450px;
  min-width: 320px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  padding-top: 5rem;
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, .1);
  background-color: white;
  margin-bottom: 2em;
}

#user-form-demo {
  width: 125px;
  height: 125px;
  position: absolute;
  color: white;
  font-size: 5rem;
  border-radius: 1000em;
  top: -60.25px;
  left: 50%;
  transform: translateX(-50%);
}

#layout-home {
  buttons {
    align-items: center;
    padding: 1rem;
  }
  .color-black-lighten-4 {
    border-radius: 5px;
  }
  dropdown {
    margin: 10px;
  }
}

/* demo image*/
.demo-image {
  background-color: #ddd;
  color: #777;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  .large {
    height: 200px;
  }
}

#m1 {
  height: 100vh;
  overflow-y: auto;
  icon {
    margin: 0 1rem 0 0.5rem !important;
  }
  menu-item {
    border-radius: 0;
    ::before {
      content: '';
      display: block;
      pointer-events: none;
      background-color: #fff;
      transition: all .2s ease-out;
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    :not(.is-active):hover {
      color: #22adff;
      z-index: 1;
    }
    .is-active,
    .is-active * {
      background-color: #fff;
      color: #22adff;
    }
    :not(.is-active):hover::before {
      width: 100%;
    }
  }
  a {
    color: inherit;
    display: block;
    margin: 0;
  }
}

#intro-header {
  color: #666;
  h1,
  p,
  row {
    margin: 1em 0;
  }
  box {
    margin: 1rem auto;
  }
}

#features column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  opacity: .8;
  margin: 1.5rem 0;
  :hover {
    opacity: 1;
  }
  icon {
    margin: 0;
    margin-bottom: 2rem;
    width: auto;
    font-size: 2.5rem;
  }
  span {
    font-size: 0.85rem;
  }
}

#features column:nth-child(1) icon i:nth-child(2) {
  margin: 0 .65rem;
}

#features {
  flex-flow: row wrap;
  justify-content: space-around;
}

#portafolio {
  padding: 2em 1rem;
  background-color: whitesmoke;
  box.color-danger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 500px;
    padding: 0.5rem 2rem;
  }
  row {
    flex-flow: row wrap;
    column {
      padding: 0.75rem;
    }
    box {
      position: relative;
      background-color: #fff;
      padding: 0;
      content {
        padding: 1rem;
        button {
          margin: 1rem 0;
        }
      }
    }
  }
}

/*documentacion de colors*/
.docs-colors {
  margin: 1rem 0;
  > column {
    display: flex;
    flex-direction: column;
    span {
      display: block;
      padding: 1.25rem;
      font-weight: bold;
      margin: 1px;
      border-radius: 4px;
    }
  }
}

/*oculat contenido y lo hace visible con jquery*/
.menu_content:not(.visible) {
  display: none;
}

#footer-intro {
  align-items: center;
  justify-content: space-between;
  column:nth-child(2) {
    text-align: right;
    padding-right: 1rem;
    a {
      color: rgba(0, 0, 0, .5);
      font-size: 0.8rem;
      padding: 0 .5rem;
      :hover {
        color: #555;
      }
    }
  }
}

/*layout demo*/

layout > .demo {
  justify-content: center;
  align-items: center;
}

control > * {
  margin: 0 !important;
}

body {
  padding: 0;
  margin: 0;
}

#principal {
  justify-content: space-between;
}

/*general*/
.title:not(:last-child),
.subtitle:not(:last-child) {
  margin: 1.5rem 0;
}

h4.subtitle {
  opacity: 0.7;
}

.bloque {
  margin: 3em 0;
  max-width: 100%;
  column button,
  column .button {
    margin: 2px 4px;
  }
}

.bloque column buttons.is-addons > button,
.bloque column buttons.is-addons > .button,
.bloque column dropdown *,
.bloque column dropdown * {
  margin: 0;
  margin-right: -1px;
}

/*column {
	padding: 0.25em;
}*/
.demo {
  padding: 1em .25em;
  text-align: center;
  border-radius: .25rem;
  box-shadow: inset 0 0 0 2px white;
  overflow: hidden;
}

#demo-doce column {
  padding: 1em 0;
  box-shadow: inset 0 0 0 1px white;
}

.tags {
  margin-right: .5rem;
}

.image {
  width: 40%;
  margin: 1rem auto;
}

.shadow-x {
  box-shadow: 5px 0 8px -1px rgba(0, 0, 0, .05);
}

.shadow--x {
  box-shadow: inset -5px 0 8px -1px rgba(0, 0, 0, .05);
}

.shadow-y {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .05);
}

.shadow {
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, .05);
}

.menu_footer {
  background-color: #fff;
  height: 2rem;
  margin: 1rem 0 .5rem 0;
  padding: 0 .5rem;
  font-size: .7rem;
}

.app {
  display: block;
  width: 100%;
  padding: 0 2rem;
}

/*menu principal*/
@media screen and (min-width: 300px) {
  /*estilos para el menu vertical*/
  #menu-principal,
  #menu-close {
    position: fixed;
    max-width: 100%;
    top: 0;
    left: -200%;
    height: 100%;
    cursor: pointer;
  }
  #menu-principal {
    transition: left .2s ease-out;
    z-index: 500;
  }
  #m1 {
    width: 80%;
  }
  #mega_logo {
    width: 50%;
    max-width: 200px;
  }
  #footer-intro column:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
  #footer-intro column:nth-child(2) a {
    width: 45%;
    padding: 1rem 0;
    text-align: center;
  }
}

@media screen and (min-width: 540px) and (max-width: 760px) {

  #mega_logo {
    width: 50%;
  }
  #menu-principal {
    width: 100%;
  }
  #m1 {
    width: 40%;
  }
}

@media screen and (max-width: 760px) {
  row.bloque > column {
    padding: 2em 0;
  }
  .app {
    padding: 1.5rem;
  }
  [id*="valores-include"] content {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0;
  }

  #cambios close {
    color: #fff;
  }
  #cambios-imagen hgroup {
    padding: 2.5rem 0;
  }
}

.docs-responsive {
  padding: 1.5rem .5rem;
  border-radius: .3rem;
  text-align: center;
}

#responsive-map thead th {
  border-radius: .3rem;
  padding: 1rem .5rem;
  text-align: center;
}

#responsive-map td, #resposive-map th {
  min-width: 10rem;
  width: 10rem;
}

.docs-responsive:not([class*='color-']) {
  background-color: #CCC;
  color: #ccc;
}

#opc-download .box {
  min-height: 150px;
  margin: 0.5rem;
}

.bloque > column {
  padding: 2em 1em;
}

#page-notify notify {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 761px) {
  navbar {
    border-radius: 3px;
  }
  #menu-close {
    width: 100%;
  }
  #m1 {
    width: 35%;
    z-index: 10;
  }
  #mega_logo {
    width: 30%;
  }
  .aplication {
    padding: 2rem;
  }
  #footer-intro column:nth-child(2) {
    display: block;
    text-align: right;
  }
  #footer-intro column:nth-child(2) a {
    width: auto;
    padding: 0;
  }
  #demo-doce column span {
    display: block;
  }
  #cambios-versiones,
  #cambios-imagen {
    padding: 3rem;
  }
}

@media screen and (min-width: 900px) {
  #menu-principal {
    display: block;
    position: relative;
    top: initial;
    left: initial;
  }
  #menu-close {
    display: none;
  }
  #m1 {
    width: 100%;
    min-height: 100vh;
  }

}

.link-fonts {
  width: 100%;
}

.link-fonts snippet pre {
  padding: 0.2rem 0;
  overflow-y: hidden;
}

.hide {
  display: none !important;
}

#mostrar-sidemenu:focus + #menu-principal {
  background-color: rgba(0, 0, 0, .8);
}

#mostrar-sidemenu:focus + #menu-principal,
#mostrar-sidemenu:focus + #menu-principal > #menu-close {
  left: 0;
  width: 100%;
}

.demo-helper {
  width: 8rem;
  height: 8rem;
  background-color: #ff3860;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
  }
}

#page-mega mega {
  border-radius: 10px;
}

#page-menu menu {
  min-height: 300px;
  max-width: 20em;
  border-radius: 5px;
  padding: .5rem;
}

menu.reset {
  min-height: 3rem !important;
}

#page-menu menu menu-item.is-active {
  background-color: #045fe0;
  color: #fff;
  pointer-events: none;
}

menu menu-item:not(.is-active):hover {
  background-color: rgba(0, 0, 0, .025);
}

#page-menu menu-item:not(.is-label):hover {
  background-color: rgba(0, 0, 0, .025);
}

menu menu-list {
  border-left: 1px solid rgba(0, 0, 0, .1);
}

#conectado {
  position: absolute;
  right: -.3rem;
  bottom: -.3rem;
}

#page-block blockquote {
  margin: 0;
  margin-bottom: 1rem;
  max-width: 25em;
}

#page-table table thead th {
  color: #000;
}

#page-table table tfoot {
  opacity: 1;
}

#page-table table td:hover {
  color: #045fe0;
}

#licences tooltip[is-up]:hover > data {
  bottom: 2.5rem;
  left: 40%;
}

date:not(:last-child) {
  margin-bottom: 1rem;
}

/*page alignment*/
#page-align row.bloque {
  background-color: whitesmoke;
  padding: 1rem;
  min-height: 150px;
  column {
    background-color: #6D12EC;
    padding: 1em;
    margin: 2px;
    border-radius: 3px;
    text-align: center;
    color: white;
    max-height: 80px;
  }
}

#page-align row.bloque.is-up column,
#page-align row.bloque.is-center-v column,
#page-align row.bloque.is-down column {
  flex: 1 1 auto;
}

#page-align row.bloque.is-left,
#page-align row.bloque.is-center-h,
#page-align row.bloque.is-right,
#page-align row.bloque.is-separated,
#page-align row.bloque.is-distributed {
  min-height: auto;
}

#page-align row.bloque.is-left column,
#page-align row.bloque.is-center-h column,
#page-align row.bloque.is-right column,
#page-align row.bloque.is-separated column,
#page-align row.bloque.is-distributed column,
#page-align row.bloque.is-center column {
  flex: 0 1 auto;
}

#page-group group,
#page-group listgroup {
  border-radius: 5px;
  margin: 0.25rem;
}

#page-group group group-item,
#page-group listgroup list-item {
  padding: .25rem .5rem;
}

#page-group group group-item:hover,
#page-group listgroup list-item:hover {
  box-shadow: inset 0 0 10em -1px rgba(0, 0, 0, .1);
}

.demo-box-icon {
  min-width: 5rem;
  min-height: 5rem;
  width: 5rem;
  height: 5rem;
  font-size: 6rem;
  overflow: hidden;
  border-radius: 50%;
}

.demo-layout-size {
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.demo-layout-size column {
  padding: 1rem;
  word-break: break-all;
}

mobile navbar,
mobile navbar.is-rtl,
mobile navbar navmenu,
mobile navbar.is-rtl navmenu {
  flex-direction: column;
  align-items: stretch;
}

mobile navbar navmenu {
  max-height: 0;
  overflow: hidden;
}

mobile navbar navmenu.is-visible {
  max-height: 100vh;
}

mobile navbar .is-toggle-navbar {
  display: flex;
}

modal buttons {
  padding: 0 !important;
}

modal buttons button {
  margin: 0 !important;
}

social.structure {
  padding: .25em;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .2);
  media {
    height: 40px;
    width: 40px;
  }
  media,
  content,
  .icon,
  content header,
  content section,
  content footer {
    padding: .5em;
    margin: .25em;
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .1);
  }
}

social.structure content {
  min-height: 100px;
  padding: 0 .5em;
  section {
    min-height: 50px;
  }
  header,
  section,
  footer {
    margin: .25rem 0;
  }
}

.img40x40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 100%;
  font-size: .5rem;
}

.is-x-jumbo {
  font-size: 2.5rem;
}

.is-x-jumbo + small {
  padding: .5em 0;
}

/*clases de padding*/
.test-hover *:hover {
  color: #2264C8;
  opacity: 1;
}

#page-tabs tabs-content {
  display: block;
  overflow: hidden;
  padding: 1rem;
}

#cambios-imagen {
  position: relative;
  background-image: url(http://kimera.comli.com/img/fondo-version.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
  color: #fff;
  :after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: random 8s linear;
    animation-iteration-count: infinite;
  }
}

#version-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#cambios-versiones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

#button-github {
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
  font-weight: bold;
  color: #444;
  background-color: #eee;
}

#button-github icon {
  margin-right: 0.2rem;
  width: auto;
}

#button-github + tag {
  position: relative;
  overflow: visible;
  border: 1px solid #eee;
  background-color: #fff;
  color: #22adff;
  ::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -0.35rem;
    left: -.35rem;
    width: 0.7rem;
    height: 0.7rem;
    transform: rotate(45deg);
    background-color: #eee;
    z-index: -1;
  }
}

#page-tabs tabs {
  border-bottom: 0.5px solid #bbb;
  .is-boxed,
  .is-toggle {
    border: none;
  }
}

@-webkit-keyframes random {
  0% {
    background-color: rgba(145, 45, 230, 0.2);
  }
  20% {
    background-color: rgba(31, 103, 204, 0.2);
  }
  40% {
    background-color: rgba(34, 200, 92, 0.2);
  }
  60% {
    background-color: rgba(255, 210, 50, 0.2);
  }
  80% {
    background-color: rgba(255, 0, 80, 0.2);
  }
}

@-moz-keyframes random {
  0% {
    background-color: rgba(145, 45, 230, 0.2);
  }
  20% {
    background-color: rgba(31, 103, 204, 0.2);
  }
  40% {
    background-color: rgba(34, 200, 92, 0.2);
  }
  60% {
    background-color: rgba(255, 210, 50, 0.2);
  }
  80% {
    background-color: rgba(255, 0, 80, 0.2);
  }
}

@keyframes random {
  0% {
    background-color: rgba(145, 45, 230, 0.2);
  }
  20% {
    background-color: rgba(31, 103, 204, 0.2);
  }
  40% {
    background-color: rgba(34, 200, 92, 0.2);
  }
  60% {
    background-color: rgba(255, 210, 50, 0.2);
  }
  80% {
    background-color: rgba(255, 0, 80, 0.2);
  }
}

/* snippet documentation*/

snippet {
  display: block;
  max-width: 100%;
  position: relative;
  background-color: whitesmoke;
  color: #444444;
  border-radius: 0.3125rem;
  overflow: hidden;
  /* overflow: auto;
	padding: 1rem;
	max-height: rem(200px); */
  height: auto;
  text-align: left;
  pre {
    max-width: 100%;
    padding: 1rem;
    overflow: auto;
    max-height: 15.625rem;
  }
  span, at, vat, tg {
    padding: 0 0.2rem;
  }
  cm {
    display: block;
    color: rgba(0, 0, 0, 0.3);
  }

  tg {
    color: #2980b9;
  }

  at {
    color: #d35400;
    padding-right: 0;
  }
  vat {
    color: #16a085;
    padding-left: 0;
  }
  .monokai, .monokai:not(.not-label)::after {
    background-color: #000041;
    color: #FFFFFF;
  }
  .monokai cm {
    color: rgba(255, 255, 255, 0.6);
  }

  .monokai tg {
    color: #ffd438;
  }

  .monokai at {
    color: #FFFFFF;
  }
  .monokai vat {
    color: #ff0050;
  }
  .monokai:hover {
    box-shadow: none;
  }
  :not(.not-label)::after {
    content: 'HTML';
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.5rem;
    background-color: whitesmoke;
    color: #c2c2c2;
  }

  :not(.not-label):not([value])::after {
    content: 'html';
  }

  :not(.not-label)[value]::after {
    content: attr(value);
  }
}
