#portafolio
	center
		box.color-danger
			h3 Portafolio
	center.padding-2
		h3 Deseas contribuir o añadir tus
			b: danger sitios web
			span construidos con 
			b kimera 
			span a nuestro portafolio?
			a(href="https://www.facebook.com/kimeraCSS").is-text-danger Contáctanos!