h1.title Animaciones
tags.is-group
	tag.is-info Path
	tag _animations.scss
tag.is-success Nuevo!
divider
p.bloque Kimera incluye una serie de
	b animaciones
	span que podrás implementar mediante su clase asociada.
responsive.is-table
	table.is-cell
		thead
			tr
				th Nombre
				th Clase
				th Descripción
		tbody
			tr
				td: small.is-text-bolder zoom-in
				td: code .zoom-in
				td: small.is-text.bolder Zoom de entrada
			tr
				td: small.is-text-bolder zoom-out
				td: code .zoom-out
				td: small.is-text.bolder Zoom de salida
			tr
				td: small.is-text-bolder slide-up
				td: code .slide-up
				td: small.is-text.bolder deslizamiento de entrada hacía arriba
			tr
				td: small.is-text-bolder slide-down
				td: code .slide-down
				td: small.is-text.bolder deslizamiento de entrada hacía abajo
			tr
				td: small.is-text-bolder fade-in
				td: code .fade-in
				td: small.is-text.bolder Opacidad de entrada
			tr
				td: small.is-text-bolder fade-out
				td: code .fade-out
				td: small.is-text.bolder Opacidad de salida
			tr
				td: small.is-text-bolder process
				td: code no aplica
				td
					small.is-text.bolder Animación del componente
					code process
					span .
			tr
				td: small.is-text-bolder preload
				td: code no aplica
				td
					small.is-text.bolder Animación del componente
					code preload
					span .
			tr
				td: small.is-text-bolder preload-dinamic
				td: code no aplica
				td
					small.is-text.bolder Animación del componente
					code preload
					span dinámico.