//
// HELPERS DE LAYOUT GRID Y RESPONSIVE
//
//helpers padding
[layout~="padding-05"] {
	padding: 0.5rem;
}

[layout~="padding-1"] {
	padding: 1rem;
}

[layout~="padding-2"] {
	padding: 2rem;
}

[layout~="padding-3"] {
	padding: 3rem;
}

// helpers pading vertical
[layout~="padding-v-05"] {
	padding: 0.5rem 0;
}

[layout~="padding-v-1"] {
	padding: 1rem 0;
}

[layout~="padding-v-2"] {
	padding: 2rem 0;
}

[layout~="padding-v-3"] {
	padding: 3rem 0;
}

// helpers padding horizontal
[layout~="padding-h-05"] {
	padding: 0 0.5rem;
}

[layout~="padding-h-1"] {
	padding: 0 1rem;
}

[layout~="padding-h-2"] {
	padding: 0 2rem;
}

[layout~="padding-h-3"] {
	padding: 0 3rem;
}

//fin helpers padding
// copiado de grid scss
.is-full {
	flex: 100%;
}

[layout~='full-screen'] {
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
}

[layout~='full-width'] {
	width: 100vw;
	overflow-x: hidden;
}

[layout~='full-height'] {
	width: 100vh;
	overflow-y: auto;
}

//capas de contenido
// html body
[layout~='level-1'] {
	z-index: 100;
}

//modules
[layout~='level-2'] {
	z-index: 200;
}

//components
[layout~='level-3'] {
	z-index: 300;
}

//Menus, navbars, floating buttons etc
[layout~='level-4'] {
	z-index: 400;
}

// ventanas modales entre otros
[layout~='level-5'] {
	z-index: 500;
}