.is-center {
	align-items: center;
	justify-content: center;
}
.is-center-v { align-items: center; }
.is-center-h { justify-content: center; }
.is-up { align-items: flex-start; }
.is-left { justify-content: flex-start; }
.is-down { align-items: flex-end; }
.is-right { justify-content: flex-end; }
.is-separated { justify-content: space-between; }
.is-distributed { justify-content: space-around; }
/*clases flexbox fila y columna*/
row{
	display: flex;
	flex: auto;
	flex-flow: column nowrap;

	&.is-multiline { flex-wrap: wrap; }
	&.is-mobile { flex-flow: row nowrap; }
	&.is-inverted { flex-direction: row-reverse; }
	&.is-boxed { flex-direction: column; }
	column {
		display: block;
		flex: 1 1 auto;
		max-width: 100%;
		min-width: 5%;
	}
}

.is-block { width: 100%; }
.is-half { width: 50%; }

[class*="mobile-"],
[class*="touch-"],
[class*="tablet-"],
[class*="desktop-"],
[class*="widescreen-"] {
	flex-grow: 0;
	flex-shrink: 0;
}

@each $class, $value in $breakpoint {
	@include since ($class) {
		@if $class == 'tablet' {
			row { flex-direction: row;}
		}
		@for $i from 1 through 20 {
			@if $i == 20 {
				.#{$class}-is-block {width: grid($i);}
			}
			@else if $i == 10 {
				.#{$class}-is-half {width: grid($i);}
			} @else {
				.#{$class}-#{$i} {width: grid($i);}
			}
		}
		.is-hidden-#{$class} { display: none; }
		.is-center-#{$class} {
			align-items: center;
			justify-content: center;
		}
		.is-center-v-#{$class} { align-items: center; }
		.is-center-h-#{$class} { justify-content: center; }
		.is-up-#{$class} { align-items: flex-start; }
		.is-left-#{$class} { justify-content: flex-start; }
		.is-down-#{$class} { align-items: flex-end; }
		.is-right-#{$class} { justify-content: flex-end; }
		.is-separated-#{$class} { justify-content: space-between; }
		.is-distributed-#{$class} { justify-content: space-around; }
	}
}

@each $class, $value in $breakpoint {
	@if $class != 'mobile' {
		@include until ($class) {
			.is-visible-#{$class} {	display: none; }
		}
	}
}