// layout
layout {
	display: grid;
	grid-gap: rem(5px);
	grid-template-areas:
	"header"
	"navbar"
	"sidebar"
	"main"
	"footer";

	&[no-gap] {
		grid-gap: 0;
	}

	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	
	header {grid-area: header;}
	navbar {grid-area: navbar;}
	sidebar {grid-area: sidebar;}
	main {grid-area: main;}
	footer {grid-area: footer;}

	&[is-dashboard] {
		overflow: hidden;
		
		& > main, & > sidebar {
			//bloque terminado
			height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

}
@include since (899px) {
	layout:not([is-rtl]) {
		grid-template-columns: 20% 80%;
		grid-template-areas:
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";
	}
	layout[is-rtl] {
		grid-template-columns: 80% 20%;
		grid-template-areas:
		"header header"
		"navbar navbar"
		"main sidebar"
		"footer footer";
	}
}
