@import '../base/_partials';
// layout
#{$name-layout-module} {
    display: grid;
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    grid-template-areas: "header" "navbar" "sidebar" "main" "footer";
    &.#{$class-double-sidebar} {
        grid-template-areas: "header" "navbar" "sidebar" "main" "sidebar2" "footer";
    }
    &.#{$class-rtl} {
        grid-template-areas: "header" "navbar" "main" "sidebar" "footer";
    }
    #{$name-layout-sidebar}:not(:first-of-type):last-of-type {
        grid-area: sidebar2;
    }
    & #{$name-layout-head} {
        grid-area: header;
    }
    & #{$name-layout-navbar} {
        grid-area: navbar;
    }
    & #{$name-layout-sidebar} {
        grid-area: sidebar;
    }
    & #{$name-layout-main} {
        grid-area: main;
    }
    & #{$name-layout-foot} {
        grid-area: footer;
    }
    &.#{$class-dashboard} {
        & #{$name-layout-main},
        & #{$name-layout-sidebar} {
            height: 100vh;
            overflow-y: auto;
        }
    }
}

@include since (899px) {
    #{$name-layout-module}:not(.#{$class-block}) {
        grid-template-columns: 20% auto;
        grid-template-areas: "header header" "navbar navbar" "sidebar main" "footer footer";
    }
    #{$name-layout-module}:not(.#{$class-block}).is-rtl {
        grid-template-columns: auto 20%;
        grid-template-areas: "header header" "navbar navbar" "main sidebar" "footer footer";
    }
    #{$name-layout-module}:not(.#{$class-block}).is-double-sidebar {
        grid-template-columns: 20% auto 20%;
        grid-template-areas: "header header header" "navbar navbar navbar" "sidebar main sidebar2" "footer footer footer";
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-tiny-sidebar} {
        grid-template-columns: 5% 95%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-small-sidebar} {
        grid-template-columns: 15% 85%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-medium-sidebar} {
        grid-template-columns: 25% 75%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-large-sidebar} {
        grid-template-columns: 30% 70%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-rtl}.#{$class-tiny-sidebar} {
        grid-template-columns: 95% 5%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-rtl}.#{$class-small-sidebar} {
        grid-template-columns: 85% 15%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-rtl}.#{$class-medium-sidebar} {
        grid-template-columns: 75% 25%;
    }
    #{$name-layout-module}:not(.#{$class-block}).#{$class-rtl}.#{$class-large-sidebar} {
        grid-template-columns: 70% 30%;
    }
}