blockquote {
  display: block;
	position: relative;
	max-width: 100%;
	padding:1rem;
	border-left:rem(4px) solid rgba($dark, .2);
	border-radius: $share-border-radius;
	background-color: whitesmoke;
	font-style: italic;
	&:before {
		content: '\201C';
		opacity: .4;
		font-family: monospace;
		line-height: 0;
		font-size: 3rem;
		vertical-align: middle;
		top: .5rem;
		left: .5rem;
	}

	&.is-primary {
		border-color: $primary;
	}
	&.is-info {
		border-color: $info;
	}	
	&.is-success {
		border-color: $success;
	}	
	&.is-warning {
		border-color: $warning;
	}	
	&.is-danger {
		border-color: $danger;
	}	
}