blockquote {
  display: flex;
  flex-direction: column;
	position: relative;
	width: 100%;
	padding: 1rem;
	border-left:rem(4px) solid rgba($black, .1);
	border-radius: $share-border-radius;
	background-color: whitesmoke;
	font-style: italic;

	&.is-primary {
		border-color: $primary;
		icon {
			color: $primary;
		}
	}
	&.is-info {
		border-color: $info;
		icon {
			color: $info;
		}
	}	
	&.is-success {
		border-color: $success;
		icon {
			color: $success;
		}
	}	
	&.is-warning {
		border-color: $warning;
		icon {
			color: $warning;
		}
	}	
	&.is-danger {
		border-color: $danger;
		icon {
			color: $danger;
		}
	}
	&.is-icon-left,
	&.is-icon-right {
		padding-top: 1.5rem;
		icon {
			position: absolute;
			top: rem(5px);
		}
	}
	&.is-icon-left icon {
		left: rem(8px);
	}
	&.is-icon-right icon {
		right: rem(8px);
	}
}