// component box, is a simple flexbox container  with a shadow and padding 1rem
box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	&[is-mobile] {
		flex-direction: row;
	}

	padding: 1rem;
	max-width: 100%;
	overflow: hidden;
	border: 1px solid rgba($dark, .085);
	border-radius: .2rem;
	box-shadow: 0 rem(3px) rem(5px) rem(-2px) rgba(#000, .15);
	&[inset] {
		box-shadow: inset 0 rem(3px) rem(5px) rem(-2px) rgba(#000, .15);
	}
}