@import '../base/_partials';
//variables
$button-background-color: $light !default;
$button-border-color: rgba($black, 0.1) !default;
$button-border-size: 1px !default;
$button-border-radius: rem(3px);
$button-circle: 1000em !default;
$button-floating-position: 100% !default;
$button-floating-shadow: 0 2px 5px -1px rgba($black, .1) !default;
$button-floating-shadow-hover: 0 6px 15px -1px rgba($black, .1) !default;
$button-hovered: inset 0 0 10em 1px rgba($black, 0.03) !default;
$button-padding: rem(5px) rem($text-default - 1px) !default;
//styles
#{$name-button-module},
.#{$name-button-module} {
    transition: all .1s ease-out;
    background-color: $button-background-color;
    border: 0;
    font-size: rem($text-default);
    outline: none;
    cursor: pointer;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    user-select: none;
    border-radius: $button-border-radius;
    padding: $button-padding;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        pointer-events: none;
        z-index: -1;
        border-radius: $button-circle;
        transition: all .2s ease-in-out;
    }
    &,
    a {
        color: inherit;
    }
    &.#{$class-rounded} {
        border-radius: $button-circle;
    }
    &:not([inactive]):hover {
        z-index: 1;
        &::before {
            width: rem(500px);
            height: rem(500px);
            background-color: rgba($dark, .1);
        }
    }
    // block estyle button
    &.#{$class-block} {
        display: flex;
    }
    #{$name-icon-module} {
        &:first-child:not(:last-child) {
            width: auto;
            margin-right: 0.5rem;
        }
        &:last-child:not(:first-child) {
            width: auto;
            margin-left: 0.5rem;
        }
        &:first-child:last-child {
            justify-content: center;
            margin-left: rem(-10px);
            margin-right: rem(-10px);
        }
    }
    @each $class,
    $color in $colors {
        @if $class=='cloud' {}
        @else {
            &.is-#{$class} {
                &,
                &-outline:hover::before {
                    background-color: $color;
                }
                &,
                &-outline {
                    border: $button-border-size solid $color;
                }
                &-outline,
                &-invert,
                &-inverse:hover {
                    @if $class=='warning' {
                        color: $color;
                    }
                    @else {
                        color: $color;
                    }
                }
                &,
                &-outline:hover {
                    @if ($class=='warning') or ($class=='light') {
                        color: $dark;
                    }
                    @else {
                        color: $cloud;
                    }
                }
                &[disabled] {
                    background-color: lighten($color, 25);
                }
            }
        }
    }
    &[class*="-outline"],
    &[class*="-inverse"] {
        background-color: transparent;
    }
    &[class*="-inverse"] {
        border: 1px solid #fff;
        color: #fff;
    }
    &[class*="-invert"],
    &[class*="-inverse"]:hover::before {
        background-color: $cloud;
    }
    &[disabled],
    &[class$='-invert'] {
        border: none;
    }
    // clase que hace un boton flotante
    &[type='floating'] {
        z-index: 40;
        margin: rem(5px);
        border-radius: $button-circle;
        box-shadow: $button-floating-shadow;
        padding: rem(10px) rem($text-default + 4px);
        &:hover {
            box-shadow: $button-floating-shadow-hover;
        }
    }
    &[inactive] {
        &,
        &:active,
        &:focus,
        &:hover {
            cursor: default;
            pointer-events: none;
            box-shadow: 0 0 0 transparent;
        }
    }
}

#{$name-buttons-module} {
    display: flex;
    flex-wrap: wrap;
    &.#{$class-addons} {
        flex-wrap: nowrap;
        &,
        &.#{$class-rounded} {
            * {
                border-radius: 0;
                margin-right: -1px;
            }
        }
         :first-child {
            border-top-left-radius: $button-border-radius;
            border-bottom-left-radius: $button-border-radius;
        }
         :last-child {
            border-top-right-radius: $button-border-radius;
            border-bottom-right-radius: $button-border-radius;
        }
        &.#{$class-rounded} {
             :first-child {
                border-top-left-radius: $button-circle;
                border-bottom-left-radius: $button-circle;
            }
             :last-child {
                border-top-right-radius: $button-circle;
                border-bottom-right-radius: $button-circle;
            }
        }
    }
    &:not(.#{$class-addons}) {
        #{$name-button-module},
        .#{$name-button-module} {
            margin-bottom: .2rem;
        }
    }
}

#{$name-fab-module} {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    #{$name-fabmenu-module} {
        display: none;
        flex-direction: column;
        &.#{$class-visible} {
            display: flex;
            position: absolute;
        }
        &>* {
            margin: rem(5px);
            animation: zoom-in .2s;
        }
        &.#{$class-left},
        &.#{$class-right} {
            flex-direction: row;
        }
        &.#{$class-left} {
            right: $button-floating-position;
        }
        &.#{$class-right} {
            left: $button-floating-position;
        }
        &.#{$class-up} {
            bottom: $button-floating-position;
        }
        &.#{$class-down} {
            top: $button-floating-position;
        }
    }
}
