// se manejan 5 botones precargados primary, success, info, warning, danger
//*********  Inicio Estilos .Button  ************
.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
	outline: none;
	border: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	border-radius: .2rem;
	padding: 0.3em 0.75em;

	white-space: nowrap;

	&:not([theme]) {
		background-color: darken(whitesmoke, 2);
		color: $dark;
		border: 1px solid rgba($dark, 0.1);
	}

	&[is-block] {
		justify-content: center;
	}

	&[disabled] {
		border: none;
		opacity: .65;
	}

	&[type~='icon'] {
		padding: 0.55em;
	}

	&:hover {
		box-shadow: inset 0 0 100px 1px rgba($black, 0.05);
	}
	&:active,
	&:focus {
		box-shadow: inset 0 0 100px 1px rgba($black, 0.1);
	}

	&:focus {
		font-weight: bold;
	}
}


[theme~='invert-outline'] {
	background-color: transparent;
	border: 1px solid $cloud;
	color: $cloud;
}

fab {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	z-index: 100;

	fab-menu {
		display: none;
		flex-direction: column;

		&.active {	
			display: flex;
			position: absolute;
		}

		&[is-left],
		&[is-right]{
		flex-direction: row;	
			& > * {
				margin: 0 .25rem;
			}
		}
		&[is-left] {
			right: 100%;
		}
		&[is-right] {
			left: 100%;
		}
		&[is-up] {
			bottom: 100%;
		}
		&[is-down] {
			top: 100%;
		}

		& > * {
			margin: .25rem 0;
			animation: zoom-in .2s;
		}
	}

	fab-toggle:focus .button > icon {
		transition: all .4s ease-out;
		transform: rotate(90deg);
	}
}

// clase que hace un boton flotante
.button[type~='floating'] {
	z-index: 40;
	height: auto;
	padding: 1rem;
	margin: rem(5px);
	position: relative;
	border-radius: 100%;
	box-shadow: 0 2px 5px 1px rgba(#000, .1);
	&[size~='small'] {
		padding: 0.7rem;
	}
	&[size~='medium'] {
		padding: 1.3rem;
	}
	&[size~='large'] {
		padding: 1.6rem;
	}
	&:hover {
		box-shadow: 0 6px 15px -1px rgba(#000, .2);
	}
}
