@import '../base/_partials';
//chips
#{$name-chip-module} {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: $light;
    border-radius: 4em;
    margin: rem(4px);
    line-height: 2rem;
    height: 2rem;
    padding: 0 .5rem 0 0;
    user-select: none;
    img {
        display: inline-block;
        left: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        overflow: hidden;
        z-index: 10;
    }
    #{$name-chiptext-module} {
        display: block;
        padding: 0 0.75rem;
        font-size: 0.7rem;
    }
    &[class*="is-"]:not(.is-warning) {
        color: $dark;
        &:hover {
            color: $cloud;
        }
    }
    @each $class,
    $color in $colors {
        @if ($class=='light') or ($class=='cloud') or ($class=='black') {}
        @else {
            &.is-#{$class}:hover {
                background-color: $color;
            }
        }
    }
}
