// dropdown solo puede contener maximo 2 opciones
dropdown {
	display: inline-flex;
	position: relative;
	flex-wrap: nowrap;
	padding: 0;
	text-align: center;

	& > * {
		margin: 0;

		&:not(:first-child),
		&:not(:last-child) {
			border-radius: 0;
		}

		&:first-of-type:last-of-type {
			border-radius: rem(3px);
		}

		&:first-of-type:not(:last-of-type) {
			border-radius: rem(3px) 0 0 rem(3px);
		}

		&:last-of-type:not(:first-of-type) {
			border-radius: 0 rem(3px) rem(3px) 0;
		}
	}

	margin-bottom: .5em;
}

drop-menu {
	z-index: 10;
	position: absolute;
	display: none;
	min-width: rem(150px);
	background-color:#fff;
	border:1px solid rgba(#000, .1);
	box-shadow: 0 5px 10px -1px rgba($dark, .15);
	border-radius: rem(3px);
	padding: rem(5px) 0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;

	&[is-up] {
		bottom: 2.5rem;
	}
	&[is-down] {
		top: 2.5rem;
	}
	&[is-left] {
		left: 0;
	}
	&[is-right] {
		right: 0;
	}
	item {
		width: 100%;
		font-size: $text-small;
		padding:  0.35rem 1rem;
		cursor: pointer;
		height: 2.5rem;
		&[is-title] {
			height: 1.5rem;
			color: #aaa;
			font-size: $text-x-small;
			pointer-events: none;
			text-transform: uppercase;
			opacity: 0.8;
		}
		&.is-active {
			background-color: $primary;
			color: $cloud;
		}
		&:not(.is-active):hover {
			background-color: rgba(#000, .05);
		}
	}
}

// codigo innesesario solo para mostrar el dropdown con focus
*[is-toggle]:focus + drop-menu {
	display: flex;
	flex-direction: column;	
}

@include until (tablet) {
	dropdown drop-menu {
		&[is-mobile-left] {
			left: 0;
		}
		&[is-mobile-right] {
			right: 0;
		}
	}
}