// dropdown solo puede contener maximo 2 opciones
dropdown {
	display: inline-flex;
	position: relative;
	padding: 0;
	text-align: center;
	align-items: center;
	align-content: center;

	& > * {
		margin: 0;

		&:not(:first-child),
		&:not(:last-child) {
			border-radius: 0;
		}

		&:first-of-type:last-of-type {
			border-radius: rem(3px);
		}

		&:first-of-type:not(:last-of-type) {
			border-radius: rem(3px) 0 0 rem(3px);
		}

		&:last-of-type:not(:first-of-type) {
			border-radius: 0 rem(3px) rem(3px) 0;
		}
	}
	margin-bottom: .5em;
}

dropmenu {
	min-width: 120%;
	z-index: 10;
	display: none;
	position: absolute;
	background-color: $cloud;
	box-shadow: 0 3px 5px -1px rgba($black, .1);
	border: 1px solid darken(whitesmoke, 2);
	border-radius: rem(3px);
	padding: rem(3px) 0;
	text-align: justify;
	top: 100%;

	&.is-visible {
		display: block;
	}

	&.is-up {
		top: initial;
		bottom: 100%;
	}

	&.is-right {
		right: 0;
	}

	divider {
		opacity: .1;
	}

	item {
		width: 100%;
		padding: .75em 1em;

		&, & * {
			font-size: $text-small;
		}
		&.is-title {
			color: #aaa;
			font-size: $text-x-small;
			pointer-events: none;
			opacity: 0.7;
		}
		&.is-active {
			background-color: $primary;
			color: $cloud;
		}
		&:not(.is-active):hover {
			background-color: whitesmoke;
		}
	}
}