@import '../base/_partials';
//variables
$width-icon-small: 1rem;
$width-icon-medium: 1.5rem;
$width-icon-large: 2rem;
$width-icon-jumbo: 2rem;
$width-icon: 1.5rem;
$ellipsis-burger-dimentions: 2px;
//placeholder
%icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

//styles
#{$name-icon-module} {
    @extend %icon;
    width: $width-icon;
    height: $width-icon;
    font-size: $text-default;
    &.#{$class-small} {
        width: $width-icon-small;
        height: $width-icon-small;
    }
    &.#{$class-medium} {
        width: $width-icon-medium;
        height: $width-icon-medium;
    }
    &.#{$class-large} {
        width: $width-icon-large;
        height: $width-icon-large;
    }
    &.#{$class-jumbo} {
        width: $width-icon-jumbo;
        height: $width-icon-jumbo;
    }
}

#{$name-close-module} {
    @extend %icon;
    cursor: pointer;
    opacity: .6;
    transition: opacity .2s ease-out;
    width: auto;
    height: $width-icon;
    &:hover {
        opacity: 1;
    }
    &:empty {
        &::after {
            content: '\d7';
        }
    }
}

#{$name-burger-module},
#{$name-ellipsis-module} {
    @extend %icon;
    width: $width-icon;
    height: $width-icon;
    span {
        position: relative;
        max-width: 1.5rem;
        width: 80%;
        background-color: $dark;
        &,
        &:before,
        &:after {
            display: block;
            height: $ellipsis-burger-dimentions;
            border-radius: 5em;
        }
        &:before,
        &:after {
            content: '';
            width: 100%;
            background-color: inherit;
            position: absolute;
            transform-origin: center center;
            top: -6px
        }
        &:after {
            top: 6px
        }
    }
}

#{$name-ellipsis-module} {
    & span,
    & span:before,
    & span:after {
        width: $ellipsis-burger-dimentions + 1;
        height: $ellipsis-burger-dimentions + 1;
    }
}