$width-icon-small: $text-small;
$width-icon-medium: $text-medium;
$width-icon-large: $text-large;
$width-icon-jumbo: $text-x-large;
$width-icon: 1rem;

icon {
	display: inline-flex;
	align-items:center;
	justify-content:center;
  width: $width-icon;
  height: $width-icon;
  font-size: $text-default;

  &[size] {
    margin: 0;
    padding: 0;
  }
  &[size~='normal']{
    font-size: $text-default;
    width: $width-icon;
    height: $width-icon;
  }
  &[size~='small']{
  	font-size: $text-small;
  	width: $width-icon-small;
  	height: $width-icon-small;
  }
  &[size~='medium']{
  	font-size: $text-medium;
  	width: $width-icon-medium;
    height: $width-icon-medium;
  }
  &[size~='large']{
  	font-size: $text-large;
  	width: $width-icon-large;
    height: $width-icon-large;
  }
  &[size~='jumbo']{
  	font-size: $text-x-large;
  	width: $width-icon-jumbo;
    height: $width-icon-jumbo;
  }
  &:not([is-container]):first-child:not(:last-child) {
    margin-right: .5rem;
  }
  &:not([is-container]):last-child:not(:first-child) {
    margin-left: .5rem;
  }
  &:not([is-container]):last-child:first-child {
    margin: 0;
  }
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.25rem;
  & > * {
    background-color: $dark;
    height: 1px;
  }
  &--cloud {
    @extend .burger-icon;
  }
  &--cloud > * {
    background-color: $cloud;
  }
}
.ellipsis-icon {
  @extend .burger-icon;
  align-items: center;
  & > * {
    width: 4px;
    height: 4px;
    border-radius: 5em;
  }
  &--cloud {
    @extend .ellipsis-icon;
  }
  &--cloud > span {
    background-color: $cloud;
  }
}