// progress bar
progress-bar {
	display: block;
	height: 0.5rem;
	width: 100%;
	margin: 1.5rem 0;
	cursor: pointer;
	background-color: whitesmoke;
	box-shadow: inset 0 0 5px -1px rgba($black, 0.05);

	complete {
		display: flex;
		height: 100%;
		background-color: $dark;
		position: relative;
		transition: all .2s ease;

		&, &::before {
			align-content: center;
			align-items: center;
			justify-content: center;
		}
		&::before {
			display: none;
			padding: 0.4rem 0;
			width: 2rem;
			height: 2rem;
			content: attr(value);
			position: absolute;
			top: -4.25em;
			transform-origin: center center;
			animation: zoom-in .2s ease;
			background-color: whitesmoke;
			border-radius: 50%;
			font-size: 0.5rem;
			font-weight: bold;
			z-index: 10;
			box-shadow: 2px 0 8px -1px rgba($black, 0.2);
		}
	}
	&[label='static'] complete::before,
	&[label='floating']:hover complete::before {
		display: flex;
		transition: all .1s ease-out;
	}

	&.is-infinite {
		overflow: hidden;
		complete {
			-webkit-animation: looper 1s ease-in-out;
			animation-iteration-count: infinite;
		}
	}

	&, & complete {	
		border-radius: rem(500px);
	}

	&.is-primary complete, &.is-primary complete::before {
		background-color: $primary;
		color: $cloud;
	}
	&.is-info complete, &.is-info complete::before {
		background-color: $info;
		color: $cloud;
	}
	&.is-success complete, &.is-success complete::before {
		background-color: $success;
		color: $cloud;
	}
	&.is-warning complete, &.is-warning complete::before {
		background-color: $warning;
		color: $dark;
	}
	&.is-danger complete, &.is-danger complete::before {
		background-color: $danger;
		color: $cloud;
	}

	&.is-slim {
		height: 0.1rem;
	}
	&.is-small {
		height: 0.3rem;
	}
	&.is-medium {
		height: 0.8rem;
	}
	&.is-large {
		height: 1rem;
	}
}