// progress bar
progress {
	display: block;	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: rem(500px);
	width: 100%;
	height: .3rem;
	margin-top: 1.5rem;

	position: relative;

	&::-webkit-progress-bar {
		background-color: whitesmoke;
		border-radius: rem(500px);
		overflow: hidden;
	}
	&::-ms-fill {
		background-color: $dark;
		overflow: hidden;
		margin-right: -2px;
	}

	& + label {
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: .5rem;
		font-size: 0.6rem;
		opacity: .5;

		&.is-center {
			text-align: center;
		}
		&.is-right {
			text-align: right;
		}
	}
	&[add-label] {
		cursor: pointer;
		&:before {
			transition: opacity 0.3s ease-out;
			background-color: whitesmoke;
			border-radius: rem(500px);
			width: 2.25rem;
		}
	}
		
	&[add-label]:hover::before {
		display: block;
		content: attr(value)'%';
		font-size: 0.6rem;
		position: absolute;
		top: -1rem;
		left: 0;
		right: 0;
		max-width: 2.25rem;
		text-align: center;
	}
	&[add-label].is-center:hover::before {
		margin-left: auto;
		margin-right: auto;
	}
	&[add-label].is-right:hover::before {
		left: initial;
	}


	&.is-primary,
	&.is-info,
	&.is-success,
	&.is-danger {
		color: $cloud;
	}

	&::-webkit-progress-value {
		background-color: $dark;
	}
	&.is-primary {
		&:before, &::-webkit-progress-value {
			background-color: $primary;
		}
	}
	&.is-info {
		&:before, &::-webkit-progress-value {
			background-color: $info;
		}
	}
	&.is-success {
		&:before, &::-webkit-progress-value {
			background-color: $success;
		}
	}
	&.is-warning {
		&:before, &::-webkit-progress-value {
			background-color: $warning;
			color: $dark;
		}
	}
	&.is-danger {
		&:before, &::-webkit-progress-value {
			background-color: $danger;
		}
	}
	&::-moz-progress-bar {
		background-color: $dark;
	}
	&.is-primary::-moz-progress-bar {
		background-color: $primary;
	}
	&.is-info::-moz-progress-bar {
		background-color: $info;
	}
	&.is-success::-moz-progress-bar {
		background-color: $success;
	}
	&.is-warning::-moz-progress-bar {
		background-color: $warning;
	}
	&.is-danger::-moz-progress-bar {
		background-color: $danger;
	}
	&.is-primary::-ms-fill {
		background-color: $primary;
	}
	&.is-info::-ms-fill {
		background-color: $info;
	}
	&.is-success::-ms-fill {
		background-color: $success;
	}
	&.is-warning::-ms-fill {
		background-color: $warning;
	}
	&.is-danger::-ms-fill {
		background-color: $danger;
	}

	&[is-small] {
		height: 0.15rem;
	}
	&[is-small]::-webkit-progress-bar {
		height: 0.15rem;
	}
	&[is-medium] {
		height: 0.5rem;
	}
	&[is-medium]::-webkit-progress-bar {
		height: 0.5rem;
	}
	&[is-large] {
		height: 0.7rem;
	}
	&[is-large]::-webkit-progress-bar {
		height: 0.7rem;
	}
}