// component tag
tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;

	&[size='small'], tag[size='small'] {
		line-height: .9rem;
	}


	&[is-group] {
		@extend tags;
		display: inline-flex;
		align-items: stretch;
		flex: 0;

		& > tag {
			margin: 0;
			border-radius: 0;
		}

		// crea un grupo de etiquetas en forma de bloque
		&[is-boxed] {
			max-width: 100%;
			flex-direction: column;
			overflow-x: auto;

			& > tag {
				padding: rem(5px) rem(10px);
			}
		}
		margin: .2rem;
		border-radius: .2rem;
		overflow: hidden;
		flex-wrap: nowrap;
	}
}

tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(2px) rem(10px);
	font-size: $text-small;
	border-radius: .2rem;
	margin: 1px;

	&:not([theme]) {
			background-color: whitesmoke;
	}

	&, & * {
		line-height: 1.4;
	}
}

tags[size='small'] tag, tag[size='small'] {
	font-size: $text-x-small;
	padding: rem(2px) rem(8px);
}
tags[size='medium'] tag, tag[size='medium'] {
	font-size: $text-default;
	line-height: 1.5;
	padding: rem(3px) rem(12px);
}

badge {
	@extend tag;
	border-radius: 50rem;
	position: relative;
	line-height: normal;
}