// component tag
tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;

	&[is-group] {
		@extend tags;
		display: inline-flex;
		align-items: stretch;
		flex: 0;

		& > tag {
			margin: 0;
			border-radius: 0;
		}

		// crea un grupo de etiquetas en forma de bloque
		&[is-boxed] {
			max-width: 100%;
			flex-direction: column;
			overflow-x: auto;

			icon {
				width: 1.5rem;
				height: 1.5rem;
			}

			& > tag {
				padding: rem(5px) rem(10px);
			}
		}
		margin: .2rem;
		border-radius: .2rem;
		overflow: hidden;
		flex-wrap: nowrap;
	}
}

tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(2px) rem(10px);
	font-size: $text-small;
	border-radius: .2rem;
	margin: 1px;
	line-height: 1.25rem;

	&:not([class^='is-']) {
			background-color: whitesmoke;
	}
	
	&[class^='is-'] {
		color: $cloud;
	}

	&[class$='warning'] {
		color: $dark;
	}
	
	&.is-dark { background-color: $dark ;}
	&.is-black { background-color: $black ;}
	&.is-primary { background-color: $primary ;}
	&.is-info { background-color: $info ;}
	&.is-success { background-color: $success ;}
	&.is-warning { background-color: $warning ;}
	&.is-danger { background-color: $danger ;}

}

tags, tag {
	&[is-rounded] {
		border-radius: 100em !important;
	}
}

tags[is-small] > tag, tag[is-small] {
	line-height: 1rem;
	font-size: $text-x-small;
	padding: rem(2px) rem(8px);
}

tags[is-large] > tag, tag[is-large] {
	font-size: $text-default;
	line-height: 1.5rem;
	padding: rem(3px) rem(12px);
}

badge {
	@extend tag;
	border-radius: 100em;
	position: relative;
	line-height: normal;
}