// component tag
tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;

	&[size='small'], tag[size='small'] {
		line-height: .9rem;
	}


	&[is-group] {
		@extend tags;
		display: inline-flex;
		flex: 0 0 auto;
		// crea u grupo de etiquetas en forma de bloque
		&[is-box] {
			max-width: 100%;
			flex-direction: column;
			overflow-x: auto;
		}

		margin: .2rem;
		border-radius: .2rem;
		overflow: hidden;
		flex-wrap: nowrap;
	}
}

tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: .25rem .5rem;
	font-size: $text-small;
	&:not([theme]) {
			background-color: whitesmoke;
	}
	&, & * {
		line-height: 1rem;
	}
}
tag {
	border-radius: .2rem;
	margin: 1px;
}
badge {
	@extend tag;
	border-radius: 50rem;
	position: relative;
	line-height: normal;
}

tags > tag, tags[is-group] > tag{
	margin: 0;
	border-radius: 0;
}
tags[size='small'] tag, tag[size='small'] {
	font-size: $text-x-small;
	padding: .05rem .5rem;
}
tags[size='medium'] tag, tag[size='medium'] {
	font-size: $text-default;
	padding: .2rem .5rem;
}
