tooltip {
	display: inline-block;
	
	position: relative;
	cursor: pointer;
	margin: 0 rem(5px);
	user-select: none;

	data {
		display: none;
		position: absolute;
		padding: 0 0.5rem;
		border-radius: rem(5px);
		z-index: 1000;
		padding: 0.25rem 1rem;
		transition: all .5s ease-out;
		font-size: 0.65rem;
		justify-content: center;

		&, &:before {
			background-color: $dark;
			color: $cloud;
		}
	}

	&[is-down] > data,
	&[is-up] > data,
	&[is-left] > data,
	&[is-right] > data {
		&:before {
			content: '';
			display: block;
			width: .5rem;
			height: .5rem;
			position: absolute;
			transform: rotate(45deg);
		}
	}

	&[is-down] > data {
		top: 1.5rem;
		&:before {
			top: -.25rem;
		}
	}
	&[is-up] > data {
		bottom: 1.5rem;
		&:before {
			bottom: -.25rem;
		}
	}
	&[is-right] > data {
		left: 110%;
		&:before {
			left: -.15rem;
		}
	}
	&[is-left] > data {
		right: 110%;
		&:before {
			right: -.15rem;
		}
	}

	&:hover > data {
		align-items: center;
		min-width: rem(150px);
	}
	&[is-up]:hover > data,
	&[is-down]:hover > data {
		left: 0;
		transform: translateX(-50%);
		display: flex;
		&:before {
			left: 50%;
		}
	}
	&[is-left]:hover > data,
	&[is-right]:hover > data {
		display: flex;
		top: 50%;
		transform: translateY(-50%);
	}

	&.is-primary:hover > data {
		&, &:before {
			background-color: $primary;
		}
	}
	&.is-info:hover > data {
		&, &:before {
			background-color: $info;
		}
	}
	&.is-success:hover > data {
		&, &:before {
			background-color: $success;
		}
	}
	&.is-warning:hover > data {
		&, &:before {
			background-color: $warning;
			color: $dark;
		}
	}
	&.is-danger:hover > data {
		&, &:before {
			background-color: $danger;
		}
	}
}