@import '_placeholders';

/* html basico*/

html {
    font-size: $text-default;
    font-family: sans-serif, arial;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: rem(200px);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: $smooting-text;
    text-rendering: $render-text;
    & ::-moz-selection {
        background: $primary;
        color: $cloud;
    }
    & ::selection {
        background: $primary;
        color: $cloud;
    }
}

*,
::before,
::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: $dark;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    letter-spacing: $font-space;
    margin: 0;
    &,
    p,
    button,
    input,
    {
        font-size: $text-default;
        line-height: $line-height-default;
    }
}

p {
    display: block;
    margin: 0.25rem 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-link;
    cursor: pointer;
    &:hover {
        color: $color-link-hover;
    }
}

item {
    @extend %item;
}

#{$name-divider-element} {
    display: block;
    background-color: $black;
    margin: rem($text-default / 2) 0;
    width: 100%;
    height: 1px;
    opacity: .4;
    &.is-white {
        background-color: $cloud;
    }
}

cite,
address {
    display: inline-block;
    opacity: 0.7;
    font-size: $text-small;
}

address {
    font-style: normal;
    opacity: 1;
}

small,
pre,
code {
    font-size: $text-small;
    font-weight: normal;
    margin: 0;
}


/*code pre*/

code,
pre,
code *,
pre * {
    -webkit-font-smoothing: auto;
    font-family: $family-code;
}

code {
    background-color: $light;
    color: darken($danger, 10);
    padding: rem(3px) rem($text-default / 2);
    margin-left: rem(3px);
    margin-right: rem(3px);
    border-radius: .15rem;
}


/*estilos para entrada por teclado*/

kbd {
    @extend code;
    background-color: $dark;
    color: $cloud;
}


/*estilos de sup y sub indice*/

sup,
sub {
    font-size: $text-x-small;
    padding: rem(2px);
}

mark {
    background-color: $warning;
    color: $dark;
}

[disabled],
.is-disabled,
[inactive] {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* listas para revision */

ol:not(.default-browser),
ul:not(.default-browser) {
    &,
    & ul,
    & ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

ol,
ul {
    padding-left: 1rem;
}


/*replace scroll*/

* ::-webkit-scrollbar {
    background-color: rgba($dark, 0.05);
    width: rem(4px);
    height: rem(4px);
    position: relative;
}

@include until(touch) {
    * ::-webkit-scrollbar {
        display: none;
    }
}

@include until(touch) {
    * ::-moz-scrollbar {
        display: none;
    }
}

* ::-webkit-scrollbar-thumb {
    background-color: rgba($dark, 0.1);
    border-radius: 1rem;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    &:hover,
    &:active {
        background-color: rgba($black, 0.2);
    }
}

* ::-webkit-scrollbar-track {
    display: none;
}