// html basico
html {
  font-size: $text-default;
  box-sizing: border-box;
  min-width: rem(300px);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: $smooting-text;
  text-rendering: $render-text;
  text-size-adjust: 100%;
  
  & ::selection {
    background: $primary;
    color: $cloud;
  }
}

body {
  color: $dark;
  font-size: 1rem;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
}

p {
	display: block;
	margin: 0.25rem 0;
	padding: 0;
	text-align: justify;
  font-size: rem($text-default);
  p {
    margin: 0;
    display: inline-block;
  }
}

blockquote, cite, address{
	display: block;
}
/*estilos para blockquote cite y address*/
blockquote{
	position: relative;
	max-width: 100%;
	margin-left:auto;
	margin-right:auto;
	padding:2rem .5rem .5rem;
	border-left:rem(4px) solid rgba($dark, .3);
	background-color:rgba($dark, .1);
	font-style: italic;
	&:before {
		content: '\f10d';
		opacity: .75;
		font-family: $family-icons;
		position: absolute;
		top: .5rem;
		left: .5rem;
	}	
}
small, pre, code, cite, address {
  font-size: $text-small;
  font-weight: normal;
}

/**Etiqueta small*/
small, cite {opacity: 0.75;}
cite::before{
  content: ' \2014\2009';
}

pre {
  overflow: auto;
}
//code pre
code, pre, code *, pre * {
  -webkit-font-smoothing: auto;
  font-family: $family-code;
}

code {
  background-color: whitesmoke;
  color: darken($danger, 5);
  padding: rem(3px) rem($text-default/2);
  margin-left: .3rem;
  margin-right: .3rem;
  border-radius: .15rem;
  word-break: break-word;
}
/*estilos para entrada por teclado*/
kbd{
	@extend code;
  color: $black;
}
/*estilos de sup y sub indice*/
sup, sub {
	font-size: $text-x-small; 
	padding: rem(2px);
}