// html basico
html {
  font-size: $text-default;
  box-sizing: border-box;
  min-width: rem(300px);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: $smooting-text !important;
  text-rendering: $render-text !important;
  text-size-adjust: 100%;
  
  & ::selection {
    background: $primary;
    color: $cloud;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: $dark;
  font-size: 1rem;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
  * {
    letter-spacing: $font-space;
  }
}

p {
	display: block;
	margin: 0.25rem 0;
	padding: 0;
	text-align: justify;
  font-size: rem($text-default);
  line-height: $line-height-default;
  p {
    margin: 0;
    display: inline-block;
  }
}

b,
strong {
  font-weight: bold;
  margin-right: rem($text-default / 3);
  margin-left: rem($text-default / 3);
}

a {
  text-decoration: none;
  color: $color-link;
  cursor: pointer;
  word-break: break-word;

  &:hover {
    color: $color-link-hover;
  }
}

hr {
  background-color: $black;
  height: $hr-height;
  margin: rem(5px) 0;
  max-width: 100%;
  outline: none;
  opacity: 0.2;
  border: 0;
}

cite {
  opacity: 0.75;
  font-size: $text-small;
  cite::before{
    content: ' \2014\2009';
  }
}

small, pre, code {
  font-size: $text-small;
  font-weight: normal;
  line-height: $line-height-default;
  margin: 0;
}

//texto etiquetas personalizadas
tiny {
  font-size: $text-x-small;
}

medium {
  font-size: $text-medium;
}

large {
  font-size: $text-large;
}

jumbo {
  font-size: $text-x-large;
}
upper {
  text-transform: uppercase;
}

lower {
  text-transform: lowercase;
}

underline {
  text-decoration: underline;
}
// color text
primary {
  color: $primary;
}

info {
  color: $info;
}

success {
  color: $success;
}

warning {
  color: darken($warning, 10);
}

danger {
  color: $danger;
}

justify,
right {
  display: block;
}

right > *,
right {
  text-align: right !important;
}

justify > *,
justify {
  text-align: justify !important;
}

center > *,
center {
  text-align: center !important;
}
/**Etiqueta small*/
pre {
  overflow: auto;
}
//code pre
code, pre, code *, pre * {
  -webkit-font-smoothing: auto;
  font-family: $family-code;
}

code {
  background-color: whitesmoke;
  color: darken($danger, 5);
  padding: rem(3px) rem($text-default/2);
  margin-left: rem(3px);
  margin-right: rem(3px);
  border-radius: .15rem;
  word-break: break-word;
}
/*estilos para entrada por teclado*/
kbd{
	@extend code;
  background-color: $dark;
  color: $cloud;
}
/*estilos de sup y sub indice*/
sup, sub {
	font-size: $text-x-small; 
	padding: rem(2px);
}

mark {
  background-color: $warning;
  color: $dark;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-style: none;
}

[disabled], .is-disabled {
  pointer-events: none !important;
  user-select: none !important;
  opacity: .7 !important;
}

//estilos de etiquetas h1,h2,h3,h4,h5,h6
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  -webkit-font-smoothing: $smooting-text;
  text-rendering: $render-text;

  &, a {
    color: inherit;
  }
  & small {
    font-size: 75%;
    font-weight: bold;
    opacity: 0.75;
  }
}

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }

// listas
ol:not(.default-browser),
ul:not(.default-browser) { 
  &, & ul, & ol {   
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
ol, ul {
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  td, th {
    padding: 0;
    text-align: left;
  }
}

//replace scroll
// reMplazo del scroll y ocultamiento.
* ::-webkit-scrollbar {
  background-color: rgba($dark, .05);
  width: rem(5px);
  height: rem(5px);
}

* ::-moz-scrollbar {
  background-color: rgba($dark, .05);
  width: rem(5px);
  height: rem(5px);
}

@include until (touch) {
  * ::-webkit-scrollbar {
    display: none;
  }
}

@include until (touch) {
  * ::-moz-scrollbar {
    display: none;
  }
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba($dark, .1);
  border-radius: 1rem;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover,
  &:active {
    background-color: rgba($dark, .25);
  }
}

* ::-moz-scrollbar-thumb {
  background-color: rgba($dark, .1);
  border-radius: 1rem;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover,
  &:active {
    background-color: rgba($dark, .25);
  }
}

* ::-webkit-scrollbar-track {
  display: none;
}