
/*clases flexbox fila y columna*/
.row{
	display: flex;
	flex: auto;
	flex-flow: column nowrap;
	&--wrap {
		@extend .row;
		flex-wrap: wrap;
	}
	&--mobile {
		@extend .row;
		flex-flow: row nowrap;
	}
	&[inverted] {
		flex-direction: row-reverse;
	}
}

.column {
	display: block;
	flex-grow: 1;
}

.is-full {
	flex: 100%;
}

//media queries hidden with min width
@include since (touch) {
	@for $i from 1 through 18 {
		.touch-#{$i} {
			flex-basis: grid($i);
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
@include since (tablet) {
	.row, .row--wrap {
		flex-direction: row;
	}
	@for $i from 1 through 18 {
		.tablet-#{$i} {
			flex-basis: grid($i);
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
@include since (desktop) {
	@for $i from 1 through 18 {
		.desktop-#{$i} {
			flex-basis: grid($i);
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
@include since (widescreen) {
	@for $i from 1 through 18 {
		.widescreen-#{$i} {
			flex-basis: grid($i);
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}