// layout

@include since (tablet){
	.container {
		margin-right: auto;
		margin-left: auto;
	}
}

.layout {
	@extend .row--wrap;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;

	&_head, &_navbar, &_side-menu, &_main, &_foot, &_foot--sticky {
		width: 100%;
	}

	&_foot--sticky {
		align-self: flex-end;
	}
	&[layout~='dashboard'] {

		overflow: hidden;
		flex-wrap: nowrap;
		
		& .layout_main, & .layout_side-menu {
			height: 100vh;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	@include since (tablet) {
		&_side-menu:not([class*='tablet']),
		&_side-menu:not([class*='desktop']),
		&_side-menu:not([class*='widescreen']),
		&_side-menu:not([class*='touch']) {
			flex: 25%;
		}
	}
}

//clase .main que se aplica a la etiqueta main aplicando propiedades flexibles
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 100%;
	overflow-y: auto;

	&_content, &_footer {
		width: 100%;
	}
	&_footer {
		align-self: flex-end;
	}
}