%item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    max-width: 100%;
}

%icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}