//FILE THEME.

.is-primary, .is-info, .is-success, .is-danger, .is-dark {
	color: $cloud;
}

.is-white, .is-warning {
	color: $dark;
}

.is-light{
	background-color: whitesmoke;
	color: $dark;
}

.is-dark {
	background-color: $dark;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $dark;
	}
	&.is-outline {
		border: 1px solid $dark;
	}
}

.is-white {
	background-color: $cloud;
	&.is-outline { 
		border: 1px solid $dark;
	}
}

.is-primary {
	background-color: $primary;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $primary;
	}
	&.is-outline {
		border: 1px solid $primary;
	}
}

.is-info {
	background-color: $info;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $info;
	}
	&.is-outline {
		border: 1px solid $info;
	}
}

.is-success {
	background-color: $success;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $success;
	}
	&.is-outline {
		border: 1px solid $success;
	}
}

.is-warning {
	background-color: $warning;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $warning;
	}
	&.is-outline {
		border: 1px solid $warning;
	}
}

.is-danger {
	background-color: $danger;
	&.is-invert, &.is-outline {
		@extend .is-white;
		color: $danger;
	}
	&.is-outline {
		border: 1px solid $danger;
	}
}



