//*****************************  default colors ****************************

$cloud															: #FFFFFF !default;
$dark																: #353535 !default;
$black															: #000000 !default;
$light															: #F6F6F6 !default;
$primary														: #692ABF !default;
$info																: #2264C8 !default;
$success														: #22C85C !default;
$warning														: #FFD232 !default;
$danger															: #FF0050 !default;

//********************************* Maps colors ****************************

$colors: (
	dark: $dark,
	black: $black,
	cloud: $cloud,
	light: $light,
	primary: $primary,
	info: $info,
	success: $success,
	warning: $warning,
	danger: $danger
);


//***************************  Default color link **************************

$color-link: $primary;
$color-link-hover: $black;

//******************************** font family *****************************

$family															: arial, sans-serif !default;
$family-icons												: 'FontAwesome' !default;
$family-code												: monospace !default;
$font-space													: 0.06rem !default;

//********************************* Text sizes ******************************
$text-x-small												: 0.5rem !default;
$text-small													: 0.75rem !default;
$text-default												: 16px !default;
$text-medium												: 1.25rem !default;
$text-large													: 1.5rem !default;
$text-x-large												: 1.75rem !default;
$text-bold													: bold !default;
$text-upper													: uppercase !default;
$text-lower													: lowercase !default;

//******************************** Header sizes *****************************

$h1-size														: 2.1em !default;
$h2-size														: 1.8em !default;
$h3-size														: 1.6em !default;
$h4-size														: 1.3em !default;
$h5-size														: 1em !default;
$h6-size														: .7em !default;

//******************************** Rendering text **************************

$smooting-text											: antialiased !default;
$render-text												: optimizeLegibility !default;

// border-radius
$border-radius											: rem(3px) !default;
$border-size												: rem(1px) !default;
$border-rounded											: 5000em !default;
$opacity-shadow											: 0.15 !default;

//****************************** Guidelines ********************************

$line-height-default: 1.5 !default;

//**************************** Default breakpoints in px *******************

$mobile															: 200px !default; //min width: 200px
$touch															: 480px !default; //min-width: 480px
$tablet															: 768px !default; //min-width: 768px
$desktop														: 1024px !default; //min-width: 1024px
$widescreen													: 1300px !default; //min-width: 1300px

//********************************* breakpoints only ***********************

$only-touch													: $tablet - 1 !default; 
$only-tablet												: $desktop - 1 !default;
$only-desktop												: $widescreen - 1 !default;

//****************************** Breakpoint names key map ******************

$bp-mobile													: 'mobile' !default;
$bp-touch														: 'touch' !default;
$bp-tablet													: 'tablet' !default;
$bp-desktop													: 'desktop' !default;
$bp-widescreen											: 'widescreen' !default;

//******************************* Breakpoint maps **************************

$breakpoint: (
	$bp-mobile: rem($mobile),
	$bp-touch: rem($touch),
	$bp-tablet: rem($tablet),
	$bp-desktop: rem($desktop),
	$bp-widescreen: rem($widescreen)
);

$only-breakpoint: (
	only-#{$bp-touch}: rem($only-touch),
	only-#{$bp-tablet}: rem($only-tablet),
	only-#{$bp-desktop}: rem($only-desktop)
);

//***************************** layers *************************************

$layer: (
	index-1: 100,
	index-2: 200,
	index-3: 300,
	index-4: 400,
	index-5: 500,
);

//*************************** The acordeon variables ***********************

$acordeon-background								: $cloud !default;
$acordeon-border										: rem(1px) solid $light !default;
$acordeon-padding										: rem($text-default) !default;
$acordeon-material-shadow-items			: 0 0 0 rem(1px) rgba($black, $opacity-shadow) !default;

//************************** The blockquote varibles ***********************

$icon-position-horizontal						: rem($text-default / 2) !default;
$icon-position-vertical							: rem($text-default / 4) !default;
$border-left-size										: rem($text-default / 4) !default;

//**************************** The box variables ***************************

$box-padding												: rem($text-default) !default;
$box-border-radius									: $border-radius !default;
$box-opacity-shadow									: $opacity-shadow !default;
$box-color-shadow										: $black !default;

//************************ The button variables ****************************

$button-background-color						: $light !default;
$button-border-default							: 1px solid transparent !default;
$button-border-color								: rgba($black, 0.1) !default;
$button-border-size									: $border-size !default;
$button-border-radius								: $border-radius !default;
$button-rounded											: $border-rounded !default;
$button-floating-position						: 100% !default;
$button-floating-shadow							: 0 2px 5px -1px rgba($black, $opacity-shadow) !default;
$button-floating-shadow-hover				: 0 6px 15px -2px rgba($black, $opacity-shadow) !default;
$button-hovered											: 0 rem(5px) rem(20px) -2px rgba($black, $opacity-shadow) !default;
$button-padding											: rem($text-default / 2) rem($text-default) !default;
$button-icon-padding								: rem($text-default / 2) !default;