// alert
alert {
	display: inline-flex;
	align-items: flex-start;
	position: relative;

	icon.is-close  {
		position: absolute;
		top: 0;
		right: 0;
	}

	&.fixed-top,
	&.fixed-down {
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 1000;
		transform: scale(0);
	}
	&.fixed-top {
		top: 0.5rem;
	}
	&.fixed-down {
		bottom: 0.5rem;
	}

	content {
		position: relative;
		width: 100%;
		background-color: $cloud;
		border: 1px solid whitesmoke;
		border-radius: rem(3px);
		border-left: 3px solid $dark;
		padding: 1rem 2rem 1rem 1rem;
	}
	&.is-primary content{
		color: $primary;
		border-left-color: $primary;
	}
	&.is-info content{
		color: $info;
		border-left-color: $info;
	}
	&.is-success content{
		color: $success;
		border-left-color: $success;
	}
	&.is-warning content{
		color: darken($warning, 20);
		border-left-color: darken($warning, 20);
	}
	&.is-danger content{
		color: $danger;
		border-left-color: $danger;
	}
}

notify {
	@extend alert;
	content {
		border: none;
		background-color: whitesmoke;
	}

	&[class^="is-"] content {
		color: $cloud;
		border: none;
	}
	&.is-primary content{
		background-color: $primary;
	}
	&.is-info content{
		background-color: $info;
	}
	&.is-success content{
		background-color: $success;
	}
	&.is-warning content{
		color: $dark;
		background-color: $warning;
	}
	&.is-danger content{
		background-color: $danger;
	}
}

@include since (tablet) {
	alert.fixed-top,
	alert.fixed-down,
	alert.fixed-top,
	alert.fixed-down {
		max-width: 35%;
		margin: 0 auto;
		right: 0;
	}
}