// alert
alert {
	display: inline-flex;
	align-items: flex-start;
	position: relative;

	&[fixed-top],
	&[fixed-down] {
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 1000;
		transform: scale(0);
	}
	&[fixed-top] {
		top: 0.5rem;
	}
	&[fixed-down] {
		bottom: 0.5rem;
	}

	content {
		position: relative;
		width: 100%;
		background-color: $cloud;
		border: 1px solid whitesmoke;
		border-radius: rem(3px);
		border-left: 3px solid $dark;
		padding: 1rem 2rem 1rem 1rem;
		icon[is-close] {
			position: absolute;
			top: 0;
			right: 0;
			opacity: .6;
			margin: 0 !important;
			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}
	}
	&.is-primary content{
		color: $primary;
		border-left-color: $primary;
	}
	&.is-info content{
		color: $info;
		border-left-color: $info;
	}
	&.is-success content{
		color: $success;
		border-left-color: $success;
	}
	&.is-warning content{
		color: darken($warning, 20);
		border-left-color: darken($warning, 20);
	}
	&.is-danger content{
		color: $danger;
		border-left-color: $danger;
	}
}

@include since (tablet) {
	&[fixed-top],
	&[fixed-down] {
		max-width: 35%;
		margin: 0 auto;
		right: 0;
	}
}