$bread-padding: 1rem !default;

breadcrumb {
	overflow-x: auto;

	&, item {
		display: flex;
	}

	max-width: 100%;
	padding: rem(4px) 0;

	item {
		flex: 0 0 auto;
		cursor: pointer;
		position: relative;
		justify-content: center;
		padding: 0 $bread-padding;
		word-break: no-all;

		&:before, &:after {
		 	content: '\\';
			position: absolute;
			font-family: $family-icons;
			width: 0.8rem;
			right: -.4rem;
			text-align: center;
			font-size: $text-small;
			top: 50%;
			transform: translateY(-50%);
		}
		&:after {
			display: none;
		}

		&:not(.is-active):hover {
			color: $black !important;
		}
		&.is-active * {
			color: $black;
		}
	}

	&:not([is-right]) item:first-child {
		padding-left: 0;
	}
	&:not([is-right]) item:last-child {
		padding-right: 0;
		&:before {
			display: none;
		}
	}
	
	//ok no problemas
	&[is-right] {

		&, item {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		& item:after {
			display: block;
			right: initial;
			left: -$bread-padding / 2;
			content: '/';
		}

		item:first-child {
			padding-right: 0;
		}

		item:last-child {
			padding-left: 0;
			&:after {
				display: none;
				
			}
		}

		& item:before {
			display: none;
		}
	}
	//flecha ->

	&[is-arrowed] item:before {
		content: '\02192';
	}
	&[is-right][is-arrowed] item:after {
		content: '\02190';
	}

	// circulo pequeño
	&[is-dotted] item:before {
		content: '\02022';
		font-size: $text-x-small;
	}

	&[is-small] {
		font-size: $text-small;
		& item:before,
		& item:after {
			font-size: $text-x-small;
		}
	}
	&[is-large] {
		font-size: $text-large;
		& item:before,
		& item:after {
			font-size: $text-medium;
		}
	}
}

// media queries
@include until (tablet) {
	breadcrumb[is-right], breadcrumb[is-right] item {
		justify-content:flex-start;
	}
}