// snippets coding
.snippet {
	display: block;
	max-width: 100%;
	position: relative;
	background-color: whitesmoke;
	color: $dark;
	border-radius: 5px;
	overflow: hidden;
	padding: 0 1rem;
	height: auto;

	pre {
		max-height: rem(200px);
		overflow: auto;
		padding: 1rem 0;
	}

	.comment {
		display: block;
		color: rgba($black, .3);
	}
	.tg {
		color: #2980b9;
		margin: 0 0.3rem;
		&:not(:nth-child(1)) {
			margin: 0;
		}
	}
	.at {
		margin-left: .3rem;
		color: #d35400;
	}
	.vat {
		color: #16a085;
		margin-right: .3rem;
	}
	.copy {
		font-size: $text-x-small;
		position: absolute;
		background-color: darken(whitesmoke, 5);
		border: 0;
		border-radius: 100%;
		margin: 0 -1px;
		top: 3px;
		right: 3px;
		&:hover {
			background-color: $dark;
			color: $cloud;
		}
	}

	&:hover::before {
		content: '</ Expand doble click >';
		display: inline-block;
		position: absolute;
		top: 0.25rem;
		max-width: 200px;
		left: 0;
		right: 0;
		margin: 0 auto;
		line-height: 1.5rem;
		text-align: center;
		font-size: $text-x-small;
		color: rgba($cloud, .8);
		background-color: rgba($black, 0.5);
		border-radius: 10em;
	}
}