// snippets coding
.snippet {
	display: block;
	max-width: 100%;
	position: relative;
	background-color: whitesmoke;
	padding: 1rem;
	color: $dark;
	border-radius: 5px;
	overflow: hidden;

	pre {
		overflow: auto;
	}

	.comment {
		display: block;
		color: rgba($black, .3);
	}
	.tg {
		color: #2980b9;
		margin: 0 0.3rem;
		&:not(:nth-child(1)) {
			margin: 0;
		}
	}
	.at {
		margin-left: .3rem;
		color: #d35400;
	}
	.vat {
		color: #16a085;
		margin-right: .3rem;
	}
	.copy {
		font-size: $text-x-small;
		position: absolute;
		background-color: darken(whitesmoke, 5);
		border: 0;
		border-radius: 100%;
		margin: 0 -1px;
		top: 3px;
		right: 3px;
		&:hover {
			background-color: $dark;
			color: $cloud;
		}
	}
}