// snippets coding
.snippet {
	display: block;
	max-width: 100%;
	position: relative;
	background-color: whitesmoke;
	color: $dark;
	border-radius: 5px;
	overflow: auto;
	padding: 1rem;
	height: auto;
	max-height: rem(150px);


	.comment {
		display: block;
		color: rgba($black, .3);
	}
	.tg {
		color: #2980b9;
		margin: 0 0.3rem;
		&:first-child:last-child {
			margin: 0;
		}
	}
	.at {
		margin-left: .3rem;
		color: #d35400;
	}
	.vat {
		color: #16a085;
		margin-right: .3rem;
	}

	&.monokai {
		background-color: #000041;
		color: rgba($cloud, .7);
		.comment {
			color: rgba(white, .6);
		}
		.tg {
			color: $warning;
		}
		.at {
			color: $cloud;
		}
		.vat {
			color: #ff0050;
		}
		&:hover {
			box-shadow: none;
		}
	}
}