$border-group: 1px solid rgba($dark, .1) !default;

group {

	overflow-x: auto;
	display: flex;
	align-items: center;
	
	item {
		padding: 0 .5rem;
		justify-content: center;
		flex: auto;
		min-height: 3rem;
		&:not(:last-child) {
			border-right: $border-group;	
		}
	}

	&.is-boxed item {
		flex-direction: column;
		icon {
			margin: 0 !important;
		}
	}

	&:not(.clear) {	
		border: $border-group;
		border-radius: rem(3px);
	}

	&.clear item {
		border: none;
	}
}

listgroup {
	flex-direction: column; 
	align-items: 	stretch;	
	item {
		flex-grow: 1;
		min-height: 3rem;
		padding: 0 1rem;
		justify-content: space-between;
		border: 0;
		&:not(:last-child) {
			border-bottom: $border-group;
		}
	}
}