// mega  bloque de contenido con un encabezado grande y descripcion
mega {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 3rem;
	flex: auto;
	overflow: hidden;

	&[is-horizontal] {
		flex-direction: row;
	}

	header {
		letter-spacing: .2rem;
		margin-bottom: 1rem;
	}
	content {
		text-align: justify;
		letter-spacing: .05rem;
	}
}