/* clase generica menu */

.menu {
	&, &_label {
		display: flex;
		width: 100%;
	}
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	flex-direction: column;
	justify-content: space-between;

	a:not([class]) {
		color: inherit;
	}
	
	icon[is-left] {
		margin: 0 2rem 0 0.5rem;
	}
	&_label {
		text-transform: uppercase;
		font-size: $text-small;
		opacity: .7;
		padding: 0 .5rem;
		margin: .5rem 0;
		align-items: baseline;
	}

	&_list, &_list ul {
		list-style: none;
		margin: 0;
		padding: .5rem 0;

		& li {
			display: flex;
			line-height: 3rem;
			height: 3rem;
			flex: auto;
			padding: .5rem;
			cursor: pointer;
			align-items: center;
			justify-content: space-between;
			text-overflow: ellipsis;
			&:not(.is-active):hover {
				background-color: whitesmoke;
			}
		}
	}
}

.is-active {
	background-color: $primary;
	color: $cloud;
}