/* clase generica menu */

menu:not(.default-browser) {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;
	justify-content: space-between;

	hr {
		opacity: .1;
	}

	&[is-distributed] item {
		justify-content: space-around;
	}
}
menu {
	&, footer {
		display: flex;
	}

  &, item, footer {
		width: 100%;
		max-width: 100%;
		justify-content: space-between;
	}

	list {
		display: block;
		width: 95%;
		margin: 0.25rem 1rem;
		margin-right: 0;
		padding-left: .5rem;
	}

	item, footer {
		align-content: stretch;
		align-items: center;
		position: relative;
		cursor: pointer;
		min-height: 3rem;
		width: 100%;
		padding: 0 1rem;
		text-overflow: ellipsis;
		user-select: none;
		border-radius: rem(3px);
	}
	footer {
		padding: 0;
		font-size: $text-small;
		flex-direction: column;
	}

	item[is-label] {
		text-transform: uppercase;
		pointer-events: none;
		font-size: $text-small;
		padding-left: 0.5rem;
		opacity: .6;
	}

	item.is-active {
		background-color: $primary;
		&, * {
			color: $cloud;
		}
	}
}