// code message
message, message header {
	display: flex;
}
message {
	flex-direction:column;
	border: 1px solid rgba($dark, .5);
	border-radius:.2rem;
	overflow: hidden;
	margin: .5em 0;
		
	header {
		background-color: $dark;
		color: $cloud;
		align-items: center;
		line-height: normal;
		justify-content:space-between;
		padding: 0.25rem .5rem;
	}

	content {
		background-color: rgba($black, 0.05);
		padding:.5rem;
		padding-right: 1.5rem;
	}
	@include message-style(primary, $primary);
	@include message-style(info, $info);
	@include message-style(success, $success);
	@include message-style(warning, $warning);
	@include message-style(danger, $danger);

	&.is-small * {
		font-size: $text-small;
	}
	&.is-medium * {
		font-size: $text-medium;
	}
	&.is-large * {
		font-size: $text-large;
	}
}
