// ventanas modal
.modal {

	.toggle_modal {
		display: none;
		
		& + label {
			cursor: pointer;
		}
		&:checked + label,
		&:checked ~ .modal_content {
			display: flex;
			position: fixed;
		}
		&:checked + label {
			transition: all .25s ease-out;
			border: none;
			font-size: 0;
			background-color: rgba($black, .8);
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
		}
		&:checked ~ .modal_content {
			top: 50%;
			left: 50%;
			opacity: 1;
			z-index: 10;
			transform: translateX(-50%) translateY(-50%);
			height: auto;
		}
	}
	
	&_content {
		display: none;
		flex-direction: column;
		max-width: 80%;
		max-height: 80%;
		padding-bottom: .5rem;
		background-color: $cloud;
		border-radius: .2rem;
		overflow: hidden;
		z-index: 20;
		opacity: 0;
		box-shadow: 0 5px 20px -1px rgba(#000, .3);
	}
	
	&_head {
		display: flex;
		align-items: center;
		background-color: darken($cloud, 2);
		padding: 0 .5em;
		margin-bottom: .5rem;
		line-height: 2rem;
		height: 2rem;
	}
	&_body {
		display: block;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
}