@import '../base/_partials';
#{$name-modal-module} {
    align-items: center;
    justify-content: center;
    z-index: 500;
    &.#{$class-slide-up} {
        align-items: flex-end;
    }
    &.#{$class-slide-down} {
        align-items: flex-start;
    }
    &>#{$name-modal-content} {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        background-color: $cloud;
        box-shadow: 0 5px 20px 1px rgba($black, .4);
        z-index: 510;
        &>#{$name-modal-header} {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            background-color: $light;
            padding: .25rem;
            z-index: 515;
        }
    }
    &.#{$class-fluid}>#{$name-modal-content} {
        width: 100%;
        height: 100%;
    }
    &.#{$class-visible} {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &>#{$name-modal-content} {
            display: flex;
            #{$name-close-module} {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 3em;
                line-height: 0.75;
            }
        }
        &>#{$name-modal-background} {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 505;
            cursor: pointer;
            background-color: rgba($black, .6);
        }
        @include since(tablet) {
            &:not(.#{$class-fluid}) {
                padding: 2rem;
                &>#{$name-modal-content} {
                    border-radius: rem(4px);
                }
            }
        }
    }
}