// ventanas modal
modal {
	& > content {
		display: none;
		max-width: 80%;
		max-height: 90%;
		background-color: $cloud;
		border-radius: .2rem;
		overflow-x: hidden;
		box-shadow: 0 5px 20px 1px rgba($black, .4);
		z-index: 510;
		& > header {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: space-between;
			background-color: $light;
			padding: .25rem;
			position: absolute;
			z-index: 515;
			top: 0;
			left: 0;
			right: 0;
		}
	}

	&.is-visible {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		justify-content: center;
		z-index: 500;

		& > content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: relative;
		}
		& > background {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 505;
			cursor: pointer;
			background-color: rgba($black, .6);
		}
	}
}
