$navbar-height: 3rem !default;

navbar{
	width: 100%;
	max-width: 100%;
	align-items: stretch;
	z-index: 10;

	&, navbrand, navmenu, item {
		display: flex;
		position: relative;
	}

	&.is-mobile {
		flex-direction: row;
		overflow-x: auto;
		justify-content: flex-start;
	}

	&.is-rtl {
		navbrand {
			flex-direction: row-reverse;
		}
		navmenu {
			flex-direction: column-reverse;
		}
	}

	&, navmenu {
		flex-direction: column;
	}

	navbrand, navmenu {
		min-height: $navbar-height;
		flex: 1 1 auto;
	}

	navbrand {
		justify-content: space-between;
		logo, item.is-toggle {
			height: $navbar-height;
			padding: rem(5px);
			width: auto;
		}
	}
	img {
		width: auto;
		height: 100%;
	}

	item, dropdown, item.is-toggle {
		height: $navbar-height;
		min-width: $navbar-height;
		flex-shrink: 0;
		margin: 0;
		cursor: pointer;
		align-items: center;
	}

	item {
		padding: 0 0.75rem;

		&.is-label {
			pointer-events: none;
			user-select: none;
		}
		&.is-toggle {
			justify-content: center;
		}
	}

	dropdown {
		drop-menu {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;

			&.is-up {
				bottom: $navbar-height;
			}
			&.is-down {
				top: $navbar-height;
			}
		}
	}

}

// media quieries
@include since (tablet) {
	navbar navmenu {
		flex-direction:row;
		justify-content: flex-end;
		&.is-left {
			justify-content: flex-start;
		}
		&.is-center {
			justify-content: center;
		}
	}
	navbar.is-rtl {
		navmenu {
			flex-direction: row-reverse;
		}
	}
}

@include since (desktop) {
	navbar {
		flex-direction: row;
		item.is-toggle {
			display: none;
		}

		&.is-rtl {
			flex-direction: row-reverse;
		}
	}
}