$navbar-height: 3rem !default;

navbar{
	&, navbrand, navmenu, item {
		display: flex;
		position: relative;
	}

	&[is-mobile] {
		flex-direction: row;
		overflow-x: auto;
		justify-content: flex-start;
	}

	&, navmenu {
		flex-direction: column;
	}

	navbrand, navmenu {
		min-height: $navbar-height;
		flex: 1 1 auto;
	}

	navbrand {
		justify-content: space-between;
		logo, item[is-toggle] {
			height: $navbar-height;
			padding: rem(5px);
			width: auto;
		}
	}
	img {
		width: auto;
		height: 100%;
	}

	item, dropdown, item[is-toggle] {
		height: $navbar-height;
		min-width: $navbar-height;
		flex-shrink: 0;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	item {
		padding: 0 0.75rem;

		&[is-label] {
			padding: 0;
			pointer-events: none;
			user-select: none;
		}
		&[is-toggle] {
			justify-content: center;
		}
	}

	dropdown {
		drop-menu {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;

			&[is-up] {
				bottom: $navbar-height;
			}
			&[is-down] {
				top: $navbar-height;
			}
		}
	}

	width: 100%;
	max-width: 100%;
	align-items: stretch;
	padding: 1px;
	z-index: 10;
}

// media quieries
@include since (tablet) {
	navbar navmenu {
		flex-direction:row;
		justify-content: flex-end;
		&[is-left] {
			justify-content: flex-start;
		}
		&[is-center] {
			justify-content: center;
		}
	}
}

@include since (desktop) {
	navbar {
		flex-direction: row;
		item[is-toggle] {
			display: none;
		}
	}
}