.navbar{
	&, &_header, &_menu {
		display: flex;
	}

	width: 100%;
	justify-content: center;

	&_header, &_menu {
		min-height: 3rem;
	}

	&_header {
		justify-content:space-between;
	}

	&, &_menu {
		flex-direction: column;
	}
	
	&.is-mobile {
		flex-direction: row;
		overflow-x: auto;
		justify-content: flex-start;
	}

	&_brand, &_menu li, &_item {
		display: flex;
		position: relative;
		height: 3rem;
		line-height: 3rem;
		align-items: center;
		cursor: pointer;
		margin: 0 .25rem;
	}

	&_brand, &_item {
		padding: 0 1rem;
	}

	&_item:hover {
		background-color: whitesmoke;
		color: $black;
	}

	&_menu{
		list-style: none;
		margin: 0;
		li {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}

	// posicionamiento de la barra de navegacion  top y bottom
	&.has-fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		&--down {
			@extend .has-fixed;
			top: initial;
			bottom: 0;
		}
	}
}

// media quieries
@include since (tablet) {
	.navbar_menu{
 		display: flex;
		flex-direction:row;
		align-items: center;
	}
}

@include since (desktop) {
	.navbar {
		flex-direction: row;
		&_header {
			justify-content: flex-start;
		}
		&_menu {
			justify-content: flex-end;
		}
	}
}