// tabs navigation
tabs, tabs.is-boxed, tabs.is-toggle {
	display: flex;
	width: 100%;
	max-width: 100%;
	z-index: 10;
	overflow-x: auto;
	overflow-y: hidden;

	&.is-small {
		font-size: $text-small;
	}
	&.is-medium {
		font-size: $text-medium;
	}
	&.is-large {
		font-size: $text-large;
	}
	&.is-center {
		justify-content: center;
	}
	&.is-right {
		justify-content: flex-end;
	}

	&.is-fluid {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		tab {
			flex-grow: 1;
			flex-shrink: 0;
		}
	}
}


tabs {
	tab {
		display: flex;
		position: relative;
		padding: 0.65rem rem($text-default);
		flex-grow: 0;
		flex-shrink: 0;
		color: $dark;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		border-radius: .25rem;

		a {
			color:inherit;
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: rem(1.5px);
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all .2s ease-out;
		}

		&.is-active {
			background-color: transparent;
			color: $primary;
			&:before {
				background-color: $primary;
			}
		}
		&:not(.is-active):hover {
			color: $black;
			&:before {
				background-color: rgba($dark, .2);
			}
		}
	}
}

tabs.is-toggle, tabs.is-boxed {
	tab {
		&:before {
			display: none;
		}
		transition: all .2s ease-out;
		&.is-active {
			color: $primary;
			border: 1px solid rgba($dark, .1);
		}
		&:not(.is-active):hover{
			background-color: rgba($dark, .05);
		}
	}
}
tabs.is-boxed {
	tab {
		border-bottom: 1px solid rgba($dark, .1);
		border-radius: .25rem .25rem 0 0;
		&.is-active {
			border-bottom: 0;
		}
	}
}

tabs.is-toggle {
	tab {
		border: 1px solid rgba($dark, .1);
		margin-right: -1px;

		&:not(:first-child), &:not(:last-child) {
			border-radius: 0;
		}
		
		&.is-active {
			background-color: $primary;
			color: $cloud;
			border: none;
		}
		&:first-child {
			border-radius: .25rem 0 0 .25rem;
		}
		&:last-child {
			border-radius: 0 .25rem .25rem 0;
		}
	}
}